<div class="container">
    <header>
        <div class="col-xs-4 col-sm-12 col-lg-4">
            <div class="header-box header-box__health">
                <p class="header-text">
                    <a href="/health">HEALTH</a>
                </p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-12 col-lg-4">
            <div class="header-box header-box__games">
                <p class="header-text">
                    <a href="/games">GAMES</a>
                </p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-12 col-lg-4">
            <div class="header-box header-box__love">
                <p class="header-text">
                    <a href="/love">LOVE</a>
                </p>
            </div>
        </div>
    </header>
</div>
<div class="container">
    <p class="header-subtitle">These are three of many of subjects which are important to make a good living and achieve happiness.In this website you can find information about each one.
    </p>
</div>
<div class="container">
    <div class="search-box">
        <i class="search-box__search-icon fa fa-search" aria-hidden="true"></i>
        <input type="text" class="search-box__search-input" placeholder="SEARCH (WIP Feature...)">
    </div>
</div>
