<div class="backgrounds">
    <div class="bg-0 bg-child"> </div>
    <div class="bg-1 bg-child"> </div>
    <div class="bg-2 bg-child"> </div>
    <div class="bg-3 bg-child"> </div>
    <!--<div class="bg-4 bg-child"> </div> -->
    <div class="bg-5 bg-child"> </div>
</div>

<div id="wrap">
    <div class="rellax wrapper-block-logo">
        <img class="logo header-logo" src="/img/logo.png">
        <h3 class="logo__quote">The best way to find your job for the international</h3>
        <div class="arrow-block">
            <img class="arrow animated pulse infinite" src="/img/arrow.png" />
        </div>
    </div>
    <div class="rellax" data-rellax-speed="4">
        <div class="wrapper-block-3">
            <img class="text-block" src="/img/landing-text-icons.png">
            <p class="text-block">
                <br>A new way to search, find and prepare your next job around the world.<br>
                <br> Working abroad has never been that simple with Hideberg.<br>
                <br> Explore your next professional destination.
            </p>
        </div>
    </div>
    <div class="rellax" data-rellax-speed="3.5">
        <div class="wrapper-block-3-transparent">
            <img class="image-medium-center" src="/img/mac-screen.png">
        </div>
        <div class="wrapper-block-3">
            <h3 class="section-title">SIMPLE</h3>
            <p class="text-block">
                Designed for make your research in international more easly and more efficient
            </p>
        </div>
    </div>


    <div class="rellax" data-rellax-speed="2">
        <div class="wrapper-block-3-transparent">
            <img class="image-large-center" src="/img/jobs-screen.png">
        </div>
    </div>
    <div class="rellax" data-rellax-speed="1">
        <div class="wrapper-block-3">
            <h3 class="section-title">COMPLETE</h3>
            <p class="text-block">
                For have all informations you needs for research your next job and destination
            </p>
        </div>
    </div>

    <div class="rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
        <div class="wrapper-block-2">
            <div class="subscribe-form"> 
                <input class="subcribe-form__email" placeholder="Email address">
                <button class="subscribe-form__submit" >Subscribe</button>
            </div>
            <p class="text-block">
                <br><br><br>Subscribe you for be the first to use our beta website and have more informations!
            </p>
        </div>
    </div>
</div>


<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/alertifyjs/1.10.0/alertify.min.js"></script>


