<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="social-panel">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="https://www.linkedin.com/in/arancibiajav" target="_blank">
                            <div class="social-icon icon-linkedin center-block"></div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://www.facebook.com/javoche" target="_blank">
                            <div class="social-icon icon-facebook center-block"></div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://twitter.com/javimosch" target="_blank">
                            <div class="social-icon icon-twitter center-block"></div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://www.instagram.com/javoche/?hl=es" target="_blank">
                            <div class="social-icon icon-instagram center-block"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
