<!-- FAVICON-->
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="favicon-144.png" />
<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/img/favicon.ico" />
<link rel="apple-touch-icon-precomposed" href="/img/favicon-152.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon-152.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon-144.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicon-120.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicon-114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon-72.png" />
<link rel="apple-touch-icon-precomposed" href="/img/favicon-57.png" />