<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="footer-links-wrapper">
                    <div class="footer-link">
                        <a href="/">Home</a>
                    </div>
                    <div class="footer-link">
                        <a href="/fullstack-javascript-freelancer">Fullstack services</a>
                    </div>
                    <div class="footer-link">
                        <a href="/online-projects">Online projects</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <p class="footer__text">
                    Buenos Aires - Barcelona - Paris<br> Helping startups proudly since 2013!
                </p>
            </div>
        </div>
        <div class="row">
            {{>social-icons}}
        </div>
    </div>
</div>
