<header class="visible-md-block visible-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-lg-3">
                <div class="header__col">
                    <a href="/" class="header__brand">
                        <!--<img class="header__logo" src="/img/logo.white.jpg" />-->
                        <p class="">MisitioBA</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-9 col-lg-9">
                <p class="header__text">
                    Paris - Barcelona
                    <span class="header__text__alternate">[ javascript ]</span>
                    web development. 
                    
                </p>
            </div>
        </div>

    </div>
</header>
<div class="container">
    <!--
    <div class="row">
        <div class="col-lg-12">
            
                <p class="header__quote">"An entrepreneur is someone who jumps off a cliff and builds a plane on the way down"<br>Reid Hoffman</p>
            
        </div>
    </div>
    -->
</div>
