<html class="gw">

<head>
    {{>head}}
</head>

<body>

    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>

    <div id="wrap"
    
    data-vide-bg="mp4: /files/video, poster: /files/poster"
    data-vide-options="posterType: jpg, loop: true, muted: false, position: 0% 0%"
    
    >
        <div class="container">
            <div class="container-fluid">
                {{> header}}
            </div>
            <div class="container content-wrapper">
