<div class="post">
    <div class="row">
        <div class="col-sm-12">
            <h2>The Spanish Indie Game Scene And Making An Adventure Game About Art</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <div class="button__small button button__green">
                <p class="button-text">
                    <a href="/games">GAMES</a>
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-lg-offset-4">
            <p class="post__written-by">
                Written by Lena LeRay, 27 Dic 2016
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="post__brief-content">
                Spain has been facing a severe economic depression for several years now, but that hasn't stopped its game developers from telling the stories they want to tell. According to the 2016 White Paper put together by the Spanish Association for the Game and Entertainment Software Development and Publishing Industry, there were almost 500 active video companies registered in Spain as of April. Their game industry has been active for over three decades and today's developers are bringing us games like Gods Will Be Watching, The Guest, Calendula, and Nubla.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <p class="post__tags">
                #spain, #nest, #nubla, #ps4,#gaming
            </p>
        </div>
        <div class="col-sm-12 col-lg-4 col-lg-offset-4">
            <div class="button__small button  button__skyblue">
                <p class="button-text">
                    <a href="/games/indie-games-barcelona">READ MORE</a>
                </p>
            </div>
        </div>
    </div>
</div>

