<div class="post">
    <div class="row post__row">
        <div class="col-sm-12">
            <h2>The Spanish Indie Game Scene And Making An Adventure Game About Art</h2>
        </div>
    </div>
    <div class="row post__row">
        <div class="col-sm-12 col-lg-4">
            <div class="button__small button button__green">
                <p class="button-text">
                    <a href="/games">GAMES</a>
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-lg-offset-4">
            <p class="post__written-by">
                Written by Lena LeRay, 27 Dic 2016
            </p>
        </div>
    </div>
    <div class="row post__row">
        <div class="col-sm-12 col-lg-8">

            <p class="post__full-content">

                Spain has been facing a severe economic depression for several years now, but that hasn't stopped its game developers from telling the stories they want to tell. According to the 2016 White Paper put together by the Spanish Association for the Game and
                Entertainment Software Development and Publishing Industry, there were almost 500 active video companies registered in Spain as of April. Their game industry has been active for over three decades and today's developers are bringing us
                games like Gods Will Be Watching, The Guest, Calendula, and Nubla.
                <br><br> Eduardo Cueto of Nubla development studio Gammera Nest (Spanish) says that the Spanish indie scene is currently stirring with new blood. "Many new graduates from lots of universities are entering the market and there are many
                events where we all meet. Everybody knows each other. Most of the teams are creating narrative games. I think it's one of the pillars and personalities of the Spanish indie scene, that we like to tell something."
                <br><br> When asked about the current state of indie game development in Spain, Cueto remarks on how Spain's economic depression has affected everything. "Many people with technical backgrounds were laid off from their jobs and tried to
                get into the games industry, be it by studying new degrees or creating small unpaid development groups. So now there are many indies struggling to create their first games, without funding, in an oversaturated market."
                <br><br> Although things are not so great financially, the game developers of Spain are like a big brotherhood. "We are very close to each other and many people from different cities gather at the many events that are [held] in Spain,"
                says Cueto. "To name some: Madrid Gaming Experience, Barcelona Games World, Gamelab (in Barcelona) or Fun & Serious (in Bilbao) are some of the biggest, where all the indies meet and get to see each other. Also, most of the devs use Twitter
                a lot and some of them are in big Spanish forums like Mediavida or Stratos, two of the biggest online communities for devs."
                <br><br> Cueto thinks that Spanish game developers tend to make narrative games because of a combination of a cultural tendency for Spaniards to be storytellers and market forces. "Many of the studios think that they have to differentiate
                from the rest and one easy way that doesn't cost much money is focusing on the story they are telling. And I've always found it interesting that Spain doesn't have a big cultural tradition, a mythology, apart from the Catholic one," he
                says. "Although we have a wide history, it's not a big topic in our video games industry. Very few games made in Spain tell stories about Spain."
                <br><br> Gammera Nest's current project is less about storytelling and more about art. Together with Spain's famous Thyssen museum, they're working on a series of adventure games with platforming elements and puzzles that incorporate recognizable
                elements of some of the artwork housed at the museum. Nubla was the first of these, and the studio is currently working on the second part M, City in the Centre of the World, which is due out mid-2017.
            </p>
            <p class="post__full-content">
                "It all started with a conversation between our director and the director of the educational area of the museum," says Cueto. "They both wanted to make something together for a while, and decided it would be a good idea to create a game from scratch based
                loosely on those works of art. This museum already has many apps and has put a lot of effort to bringing in new, young visitors, so it all seemed like the logical step. Create something more approachable for the common younglings."
                <br><br> The game's creators don't want it to be just an educational experience. They're trying to convey artistic meaning through interaction, the element that separates games from other media. "For us it's important that players feel
                like they are in a strange world full of wonders," Cueto says. "Give them some hints that those wonders have a correlation with the real world, that that forest they are going through maybe appears in a painting of Natalia Goncharova's.
                But we don't want to make it obvious, and we are trying to avoid text as much as we can so all the knowledge and educational values are hinted at, but not pressed onto the player."
                <br><br> Puzzles in the game are composed of elements from multiple works of art which are easily recognizable once you're familiar with the paintings they're based on. "By doing that we want to encourage people to go to the museum, or
                look for the paintings," says Cueto. "Sometimes we give them collectibles with the names of the authors, but we don't want to force them to know everything about the museum in order to complete the game."
            </p>
            <img class="img-responsive post__image center-block" src="http://indiegames.com/assets_c/2016/12/nubla_ps4-gammeranest-screenshot09-thumb-480x270-23338.jpg" />
            <p class="post__full-content">
                Since most of the artists whose work inspired the game are international, Cueto thinks that the most Spanish thing about the game is its narrative. "We don't like heroes. We don't like epics. Our most important literature genre is picaresque, so our protagonists
                and their stories, although following the hero's journey, are not epic adventures, but more like trying to survive in a vast world with only your wit as a weapon."
                <br><br> Working with a famous museum to make a game based on its collection has gotten Gammera Nest and Nubla a lot of attention from the Spanish media, but they've still faced plenty of challenges. Tight deadlines with no room for forgiveness
                coincided with some people having to leave the project. Sometimes levels had to be changed because their collaborators at the Thyssen weren't satisfied with how the artworks were incorporated into the game. Even with some backing from
                Sony and the high profile of working with the museum, they've had trouble getting funding. The media attention itself turned out to be a double-edged sword as hype became disappointment when the initial release of their short game had
                some unfortunate bugs.
                <br><br> Cueto's outlook for the future of indie games isn't very bright. "I'm kind of pessimistic. Not only for Spain, but for the rest of the world. The [supply] is going to surpass the demand, if it hasn't already. But in Spain there
                are some additional problems. The biggest one: there's no money. No one is funding video game creation and most of the indie studios have to go abroad and look for international publishers," he says. "Also, there's no national market.
                Spanish video games don't sell well in Spain. For the Spanish buyer, a cultural product made in Spain carries a stigma and they will judge it way harsher."
            </p>
            <img class="img-responsive post__image center-block" src="http://indiegames.com/assets_c/2016/12/nubla_ps4-gammeranest-screenshot07-thumb-480x270-23335.jpg" />
            <p class="post__full-content">
                In spite of that, he loves being a game developer in Spain. "It's a nice place to live. Warm, sunny, with great food, great people and bad politicians," says Cueto. "Also, the indie scene is great. There are many events, the press is accessible, and the
                people are always willing to help."
            </p>
        </div>
        <div class="col-lg-4">
            <img class="img-responsive post__image" src="http://indiegames.com/assets_c/2016/12/nubla_ps4-gammeranest-screenshot01-thumb-480x270-23326.jpg" />
            <img class="img-responsive post__image" src="http://indiegames.com/assets_c/2016/12/nubla_ps4-gammeranest-screenshot00-thumb-480x270-23332.jpg" />
            <img class="img-responsive post__image" src="http://indiegames.com/assets_c/2016/12/CsK9CyzXEAAx8Ti-thumb-480x293-23329.jpg" />
            <img class="img-responsive post__image" src="http://indiegames.com/assets_c/2016/12/nubla_ps4-gammeranest-screenshot09-thumb-480x270-23338.jpg" />
            <img class="img-responsive post__image" src="http://indiegames.com/assets_c/2016/12/nubla_ps4-gammeranest-screenshot07-thumb-480x270-23335.jpg" />


        </div>
    </div>
    <div class="row post__row">
        <div class="col-sm-12 col-lg-4">
            <p class="post__tags">
                #spain, #nest, #nubla, #ps4,#gaming
            </p>
        </div>
        <div class="col-sm-12 col-lg-4 col-lg-offset-4">

        </div>
    </div>
</div>
