@font-face {
    font-family: 'Avenir-Light';
    src: url('~common/res/fonts/Avenir-Light.woff') format('woff'),
    url('~common/res/fonts/Avenir-Light.eot') format('eot'),
    url('~common/res/fonts/Avenir-Light.ttf') format('ttf'),
    url('~common/res/fonts/Avenir-Light.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}


.box {
    height: 200px;
    width: 100%;
    background-color: green;
    /*background: url(~img/ba-logo-round.png);*/
}

h1 {
    font-family: 'Avenir-Light';
}
