<!-- HBSIGNORE -->
<ion-view id="edit-address" title="Adresse par défaut">
  <ion-content overflow-scroll="true" padding="true" class="has-header default-form">
    <div class="list">
      <div class="item">
        <p class="title">Veuillez renseigner votre adresse.</p>
      </div>
      <form name="addressForm">

        <ion-item class="item item-input item-stacked-label">
          <span class="input-label">Adresse</span>
          <input type="text" name="address" placeholder="" ng-model="currentAddress.address" ng-model-options="{ allowInvalid: true }" ng-pattern="validation.address.pattern">
        </ion-item>
        <div class="error-message" ng-show="addressForm.address.$error.pattern">
          <span><i class="icon ion-close-circled"></i> {{validation.address.message}}</span>
        </div>

        <ion-item class="item item-input item-stacked-label">
          <span class="input-label">Code Postal</span>
          <input type="text" name="zip" placeholder="" ng-model="currentAddress.zip" ng-model-options="{ allowInvalid: true }" ng-pattern="validation.zipcode.pattern">
        </ion-item>
        <div class="error-message" ng-show="addressForm.zip.$error.pattern">
          <span><i class="icon ion-close-circled"></i> {{validation.zipcode.message}}</span>
        </div>

        <ion-item class="item item-input item-stacked-label">
          <span class="input-label">Ville</span>
          <input type="text" name="city" placeholder="" ng-model="currentAddress.city" ng-model-options="{ allowInvalid: true }" ng-pattern="validation.city.pattern">
        </ion-item>
        <div class="error-message" ng-show="addressForm.city.$error.pattern">
          <span><i class="icon ion-close-circled"></i> {{validation.city.message}}</span>
        </div>

        <ion-item class="item item-input item-stacked-label">
          <span class="input-label">Complément d'adresse</span>
          <input type="text" name="additional_address" placeholder="" ng-model="currentAddress.additional_address" ng-model-options="{ allowInvalid: true }" ng-pattern="validation.address.pattern">
        </ion-item>
        <div class="error-message" ng-show="addressForm.address.$error.pattern">
          <span><i class="icon ion-close-circled"></i> {{validation.address.message}}</span>
        </div>

        <button class="button button-positive button-block" ng-click="endEdit($event)" ng-disabled="addressForm.$invalid">Valider</button>
      </form>

    </div>
  </ion-content>
</ion-view>
