.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-nav {
    margin: 0px;
}

.navbar-collapse {
    padding-left: 0px;
}

@media only screen and (min-width: 768px) {
    .navbar-right {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-nav {
        
    }
}

@media only screen and (min-width: 1200px) {
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        margin-left: 200px;
        margin-top: 50px;
    }
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px inset;
    }
    .navbar-fixed-top {
        top: 0px;
        border-width: 0px 0px 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        margin-top: 7.5px;
        float: none !important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}
