.navbar-default {
    background-color: white;
    border: 0px;
    height: 150px;
}

.navbar-header {
    height: 150px;
}

.nav__logo {
    height: 90px;
    margin-top: 15px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: white;
    z-index: 100;
    position: relative;
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(51, 51, 51);
    font-family: Avenir-Medium;
    font-weight: 600;
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a.btn {
    color: white;
}

.navbar-default .navbar-nav>li>a.btn:hover,
.navbar-default .navbar-nav>li>a.btn:active:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
}

.navbar-collapse {
    padding-right: 0px;
}

.brand-wrapper {
    display: table;
}

.brand-wrapper a {
    vertical-align: middle;
    display: table-cell;
}

.brand-wrapper img {
    display: block;
    height: auto;
    width: 100%;
}

.alert-header {
    padding: 0px;
    margin: 0px;
}

.panel-alert {
    background-color: rgb(255, 255, 255);
}

.alert-header h2 {
    margin-top: 0px;
}

.alert-header p {}

.navbar-toggle {
    margin-top: 40px;
    background-color: white;
    border-radius: 0px;
}

@media only screen and (min-width: 768px) {
    .navbar-nav {
        margin-top: 36px;
    }
    .navbar-nav>li {
        float: left;
        padding-left: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background-color: transparent;
    }
}

.navbar {
    margin-bottom: 20px;
}
