.notify {
    z-index: 101;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    height: 60px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    border: 0px;
}

.notify .close {
    right: 10px !important;
}

.notify .alert {
    height: 60px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}

.notify .alert.alert-warning span {
    color: goldenrod;
}

.notify .alert.alert-info span {
    color: rgb(49, 112, 143);
}

.notify .alert span {
    float: left;
    font-family: Avenir-Medium;
    font-size: 15px;
    font-weight: 900;
    color: rgb(56, 118, 29);
    line-height: 60px;
    padding: 0px 10px;
}