<div class="row relative">
    <div class="title-bar">
        <div class="col-md-10">
            <h2 class="title-bar__title">Views</h2>
        </div>
    </div>
</div>
<div class="row section col-margin-7">
    <div class="col-sm-12">
         <div class="row">
            <div class="col-md-10 col-md-offset-1 relative">
                <h4>Notes</h4>
                <p class="white text-left">Here you will see the partial files that belongs to the project. Editing and adding new files should be possible. Once you have your project locally, you will be able to fetch all the changes and new files that were added using this section directly from database and that way, generate the files and add them to git to maintain control version.
                </p>
            </div>
        </div>
        <div class="col-md-3 visible-md-block visible-lg-block relative">
        </div>
        <div class="col-sm-12 col-md-6">
            <ul class="list-group">
                <li id="item" class="hidden link list-group-item" onClick="details(this)"></li>
            </ul>
        </div>
        <div class="col-md-3 visible-md-block visible-lg-block relative">
        </div>
    </div>

    <script type="text/javascript">
        var local = store.get();

        var paginate = ws.collection('partials').paginate(500);

        function details(el) {
            var key = $(el).attr('data-key');
            window.location = '/admin/views/detail?key=' + key;
        }

        function next() {
            paginate.next(function(items) {
                var li = $('#item');
                var ul = li.parent();
                var lis = [];
                items.forEach(function(item) {
                    //console.log(item)
                    lis.push(li.clone().attr('data-key', item.key).html(item.fileName).addClass('x').removeClass('hidden'));
                });
                ul.append(lis);
                toast.clear('L', 1000).info('F', 'Fetch complete');
            });

        }

        toast.info('L', 'Loading', 99999);
        next();


       



    </script>