<div class="row">
    <div class="col-lg-5 col-lg-offset-7 col-xs-12">
        <div class="panel">
            
            <h2>{{i18n 'NAV_ABOUT_US'}}</h2>
            <p>
                We are a bunch of people of different nationalities who experienced living on shareflats around the world.
            </p>
            <p>
                We’ve always loved inviting friends, friends of friends and friends of friends of friends. We noticed that food often plays an important role in the way we get to know people. During the events we organized in our house, people always gathered in the
                kitchen, attracted by the cooking in process and eager to help with anything. That was always a perfect moment to share, get the conversation flowing, get the tongs to hear.

            </p>
            <p>
                Then, around November 2014, The idea of Meeatful cross our minds for first time. We use to call the project Meetfood back then. We imagined a couchsurfing of food, a way for people to gather and get to know each other by cooking and sharing a meal together.
            </p>
            <div class="row">
                <div class="col-sm-12">
                    <img class="content__logo" src="/images/logo.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
