<div class="row">
    <div class="col-lg-5 col-lg-offset-7 col-xs-12">
        <div class="panel">
            <h2>{{i18n 'NAV_GET_IN_TOUCH'}}</h2>
            <p>
                We are a bunch of people of different nationalities who experienced living on shareflats around the world.
            </p>
            <p>
                maelle@meetful.org
                <br>
                javier@meetful.org
            </p>
            <div class="row">
                <div class="col-sm-12">
                    <img class="content__logo" src="/images/logo.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
