

{{#each CDN}}
<script type="text/javascript" src="{{this}}"></script>
{{/each}}

{{>auto-reload}} 

{{#if env.BUILD_SCRIPTS}}
<script type="text/javascript" src="/js/app.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/angular.ng-notify/0.8.0/ng-notify.min.js"></script>
{{/if}}