.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

.prettycheckbox,
.prettyradio {
    display: block;
    padding: 0;
    margin: 0
}

.prettycheckbox>a,
.prettyradio>a {
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    cursor: pointer;
    margin: 0;
    /*background: url('../img/pretty-checks.png')*/
}
.pretty-white>a {
    background: url('../img/pretty-checks-white.png')
}
.pretty-blue>a {
    background: url('../img/pretty-checks-blue.png')
}

.prettycheckbox>a:focus,
.prettyradio>a:focus {
    outline: 0 none
}

.prettycheckbox label,
.prettyradio label {
    display: block;
    float: left;
    margin: 3px 5px 0px 5px;
    cursor: pointer;
}

.prettycheckbox a.disabled,
.prettycheckbox label.disabled,
.prettyradio a.disabled,
.prettyradio label.disabled {
    cursor: not-allowed
}

.prettycheckbox>a {
    background-position: 0 -3px;
}

.prettycheckbox>a:focus {
    background-position: -30px -3px;
}

.prettycheckbox>a.checked {
    background-position: -60px -3px;
}

.prettycheckbox>a.checked:focus {
    background-position: -90px -3px;
}

.prettycheckbox>a.checked.disabled {
    background-position: -150px -3px;
}

.prettycheckbox>a.disabled {
    background-position: -120px -3px;
}

.prettyradio>a {
    background-position: -180px -3px;
}

.prettyradio>a:focus {
    background-position: -210px -3px;
}

.prettyradio>a.checked {
    background-position: -239px -3px;
}

.prettyradio>a.checked:focus {
    background-position: -270px -3px;
}

.prettyradio>a.checked.disabled {
    background-position: -330px -3px;
}

.prettyradio>a.disabled {
    background-position: -300px -3px;
}
