<div class="box-wrap">
		{{> rich.nav}}
		<!-- END: header -->
		<section id="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
						<div class="intro animate-box">
							<h1>Branding</h1>
						<h2>Aca tengo todos mis proyectos de branding.</h2>
						</div>
					</div>
				</div>
			<div>
		</section>

		<section id="work">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="fh5co-grid animate-box" style="background-image: url({{root}}images/work-1.jpg);">
							<a class="image-popup text-center" href="{{root}}projects/vacuum">
								<div class="work-title">
									<h3>Vacuum H/EXP</h3>
									<span>Product Design</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-grid animate-box" style="background-image: url({{root}}images/work-2.jpg);">
							<a class="image-popup text-center" href="{{root}}projects/vaca-valiente">
								<div class="work-title">
									<h3>Vaca Valiente</h3>
									<span>Illustration, Print</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-8">
						<div class="fh5co-grid animate-box" style="background-image: url({{root}}images/work-5.jpg);">
							<a class="image-popup text-center" href="#">
								<div class="work-title">
									<h3>Don’t Just Stand There</h3>
									<span>Illustration, Print</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-grid animate-box" style="background-image: url({{root}}images/work-4.jpg);">
							<a class="image-popup text-center" href="#">
								<div class="work-title">
									<h3>Don’t Just Stand There</h3>
									<span>Illustration, Print</span>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-12">
						<div class="fh5co-grid animate-box" style="background-image: url({{root}}images/work-3.jpg);">
							<a class="image-popup text-center" href="#">
								<div class="work-title">
									<h3>Ampersand</h3>
									<span>Illustration, Print</span>
								</div>
							</a>
						</div>
					</div>

				</div>
			<div>
		</section>

	

	
	</div>
	<!-- END: box-wrap -->