<section id="product">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-12 section-heading text-center">
				</div>
				<div class="row">
					<div class="post-entry">
						<div class="col-md-6">
							<div class="post animate-box">
								<a href="#"><img src="{{root}}images/work-2.jpg" alt="Product"></a>
								<div>
									<h3><a href="#">Educations</a></h3>
									<span><a href="#">Learn More...</a></span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="post animate-box">
								<a href="#"><img src="{{root}}images/work-1.jpg" alt="Product"></a>
								<div>
									<h3><a href="#">Camera Lenses</a></h3>
									<p>Far far away, behind the word, far from the countries Vokalia</p>
									<span><a href="#">Learn More...</a></span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="post animate-box">
								<a href="#"><img src="{{root}}images/work-2.jpg" alt="Product"></a>
								<div>
									<h3><a href="#">Camera Lenses</a></h3>
									<p>Far far away, behind the word, far from the countries Vokalia</p>
									<span><a href="#">Learn More...</a></span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="post animate-box">
								<a href="#"><img src="{{root}}images/work-1.jpg" alt="Product"></a>
								<div>
									<h3><a href="#">Camera Lenses</a></h3>
									<p>Far far away, behind the word, far from the countries Vokalia</p>
									<span><a href="#">Learn More...</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>