<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
<script type="text/javascript">
    (function() {

        var guid = function() {
            var nav = window.navigator;
            var screen = window.screen;
            var guid = nav.mimeTypes.length;
            guid += nav.userAgent.replace(/\D+/g, '');
            guid += nav.plugins.length;
            guid += screen.height || '';
            guid += screen.width || '';
            guid += screen.pixelDepth || '';
            return guid;
        };

        /*global $*/
        var _autoReloadSignalName = "{{firebase.rootPath}}";

        function reloadStylesheets() {
            var allow = ['raw', 'main.css', 'app.css'];
            var valid = (href) => allow.filter(v => href.indexOf(v) !== -1).length > 0;
            $('link[rel="stylesheet"]').filter((a, b) => valid(b.href)).each(function() {
                var html = $('<link>').attr('href', this.href).attr('rel', 'stylesheet').get(0).outerHTML;
                $(this).replaceWith(html);
            });
        }


        /*global firebase*/
        /*global localStorage*/
        var isDevEnv = function() {
            return window.location.origin.indexOf('c9users') !== -1;
        };
        if (!isDevEnv()) return console.log('live-sync', 'not-a-dev-enviroment');
        console.info('LIVE-SYNC:  signalName => ' + _autoReloadSignalName);

        //THIS SHOULD BE ADDED AUTOMAGICALLY
        var config = {
            apiKey: "{{firebase.apiKey}}",
            authDomain: "{{firebase.authDomain}}",
            databaseURL: "{{firebase.databaseURL}}",
            storageBucket: "{{firebase.storageBucket}}",
            messagingSenderId: "{{firebase.messagingSenderId}}"
        };
        var app = firebase.initializeApp(config, 'live-reload');


        var database = app.database();



        //THIS HELPS GENERATOR TO IDENTIFY WHICH HOT HTML SEND
        /*
          var currentPath = window.location.pathname || '_ROOT_';
        var mapKeys = (o) => Object.keys(o || {}).map(k => o[k]);
        var rootRef = database.ref(_autoReloadSignalName);
        rootRef.child('reports/currentPages').once('value', function(snap) {
            if (!snap.val() || mapKeys(snap.val()).length == 0) {
                rootRef.child('reports/currentPages/' + guid()).set(currentPath);
                console.log('Sending ', currentPath);
            }
        });

        //THIS IS HTML HOT RELOAD (Experimental)
        rootRef.child('signals/hot_html/' + currentPath).on('value', function(snap) {
            if (snap.val()) {
                rootRef.child('signals/hot_html/' + currentPath).set(null);
                setTimeout(function() {
                    document.open('text/html');
                    document.write(window.decodeURIComponent(snap.val()));
                    document.close();
                }, 50);
            }
        });*/

        var refPath = _autoReloadSignalName + '/signals';
        var ref = database.ref(refPath);
        var counter = localStorage['livesync'] && localStorage['livesync'].toString() || 0;

        //THIS IS IN CHARGE OF FULLRELOAD OR STYLESHEETS HOT RELOAD
        ref.on('value', onReceived, console.error);

        function onReceived(snap) {
            if (snap.val() == null || snap.val() == undefined) {
                console.log('LIVE-SYNC: ', 'Empty');
                return; //nothing happen yet
            }
            var reload = snap.val().reload;
            //var reload_css = snap.val().reload_css || false;
            //var full_reload = snap.val().full_reload || false;

            //console.log('LIVE-SYNC: ', reload, reload_css, full_reload);

            /*if (reload_css && !full_reload) {
                reloadStylesheets();
                return ref.update({
                    reload_css: false,
                    reload: null
                });
            }
            else {*/
            if (reload && reload.toString() != counter) {
                localStorage['livesync'] = reload.toString();
                console.log('LIVE-SYNC: reloading');
                ref.update({
                    full_reload: false,
                    reload: null
                });
                window.location.reload();
            }
            else {}
            //}
        }
    })();
</script>
