<div class="container vf" >
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li>Home</li>
                <li><a class="link" ng-click="$toPage('booking')">Questions</a></li>
                <li><a class="link" ng-click="$toPage('booking-frilos')">Bike-Frelos</a></li>
                <li class="active">Auth</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="vf-col">
                <h1 class="vf-section margin-bottom-one">Necesita una cuenta para continuar</h1>
                <ul class="form-tiny vf">
                    <li>
                        <button ng-click="$toPage('login')">Login</button>
                    </li>
                    <li>
                        <button ng-click="$toPage('register')">Register</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>