<div class="container vf" ng-controller="vf-booking-confirm-ctrl">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li>Home</li>
                <li><a class="link" ng-click="$toPage('booking')">Inicio</a></li>
                <li><a class="link" ng-click="$toPage('booking-frilos')">Candidatos</a></li>
                <li class="active">Confirmation</li>
                </li>
            </ol>
        </div>
    </div>
    <div class="row" ng-cloak>
        <div class="col-sm-12 col-md-6">
            <div class="vf-col">
                <h1 class="vf-section margin-bottom-one">Tu eleccion final</h1>
                <ul class="form-tiny vf">
                    <li>
                        <table class="table table-inverse">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in booking.candidatos">
                                    <th scope="row">{[{$index}]}</th>
                                    <td>{[{item.name}]}</td>
                                    <td>{[{item.price}]}</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>


                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class=" vf-col">
                <h1 class="vf-section margin-bottom-one">Resumen</h1>
                <ul class="form-tiny vf">
                    <li>
                        <label>Donde?</label>
                        <input ng-model="booking.address" placeholder="donde?">
                    </li>
                    <li>
                        <label>Fecha?</label>
                        <input ng-model="booking.date" placeholder="fecha?">
                    </li>
                    <li>
                        <label>Duracion?</label>
                        <input ng-model="booking.duration" placeholder="duracion?">
                    </li>
                    <li>
                        <label></label>
                        <button class="float-right margin-top-one" ng-click="next()">Next</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="vf-col">
                <h1 class="vf-section margin-bottom-one">Confirmar la creacion de la OT ? </h1>
                <ul class="form-tiny vf">


                    <li>
                        <label></label>
                        <button class="float-right margin-top-one" ng-disabled="booking.candidatos.length==0" ng-click="next()">Next</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>