<!-- HBSIGNORE -->
<ion-view id="order-end" title="Bravo !">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 150px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <span class="title">Bravo</span>
        <p>Votre demande de livraison a été enregistrée. Vous serez notifié dés qu'un livreur correspondant à vos critères aura accepté votre requête.</p>
        <button class="button button-stable button-block" ng-click="endOrder()">Ok</button>
    </ion-content>
</ion-view>
