<!-- HBSIGNORE -->
<ion-view id="order-send" title="Bravo !">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="mascot"><img src="/img/notifs/commande_envoyee.jpg" alt="commande_envoyee"></div>
        <span class="title">Commande envoyée</span>
        <p>Votre livreur va recevoir votre liste de courses d'ici quelques instants</p>
        <button class="button button-stable button-block" ng-click="endOrder()">Ok</button>
    </ion-content>
</ion-view>
