<div class="container main">
    <div class="row">
        
        <div class="col-md-12 col-lg-5">
            <div class="row">
            </div>
            <div class="row">
                <div class="jumbotron">
                    <h1>Welcome</h1>
                    <p>Our objective is to connect individuals through our web platform so they can provide themselves a delivery service based on trust and reputation.</p>
                    <h3>How it works</h3>
                    <p>Every member of GAC can create delivery tickets and / or accomplish exiting ones.</p>
                    <p>Being a GAC member means that you have reputation and reviews from the people you interact with.</p>
                    <p>Pricing is defined by the registered coursiers and his skills. Our price model is a flat 0.05% over ticket or the minimum to cover the payment proccessing fee set by stripe. We are 100% sure that this platform will provide the cheapest service in Paris.</p>
                    <h3>Who are we</h3>
                    <p>We are Manitas, a bunch of people of different nationalities that create and expand projects related to social and solidarity economy. GAC will try to cover several aspects in these subjects.</p>
                    <p><a href="https://www.facebook.com/Manitas-1629521827374557/" target="_blank">Manitas on facebook</a></p>
                    <p>
                        IMPORTANT NOTE: GAC status is currently alpha, the main features are already developed and can be used but it needs a lot of improvements. Online payments currently work ok and the registration is open for testing. If you are interested in participate do not hesitate. Just register your self and ask your questions through the contact form. Thanks you for your time.
                    </p>
                    <p><a href="https://www.facebook.com/Getacoursier-542019205979974/" target="_blank">Follow on facebook</a></p>
                    <p><a class="btn btn-primary btn-lg" href="{{root}}dash">Start now</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-7"></div>
    </div>


</div>