<div class="container main">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel type-1">
                <h1>Frequently Asked Question</h1>
                <ul>
                    <li>
                        <h2>Ticket</h2></li>
                    <li>1- <a href="#order-what-its">What its</a></li>
                    <li>2- <a href="#order-creation">What its</a></li>
                    <li>3- <a href="#order-status-canceled">Cancelation</a></li>
                </ul>
                <br>
                <br>

                <div id="order-what-its">
                    <h3>Ticket - What its</h3>
                    <p>A ticket is the representation of the service this platform provides. Allow users to interact each other and accomplish a demand.</p>
                    <p>synonyms: order</p>
                </div>
                <div id="order-creation">
                    <h3>Ticket - Creation</h3>
                    <p>The first step to create a ticket is to fill the form in the dashboard. Once created, can be acceded from the tracking screen allowing you to specify more options or to modify details.</p>
                </div>
                <div id="order-status-canceled">
                    <h3>Ticket - Cancelation</h3>
                    <p>An order can be canceled when its not paid yet and the starting time its at least one hour ahead the current time.</p>
                </div>


            </div>
        </div>
    </div>
</div>