.icon-facebook {
    background: url("/img/social.png") -11px -12px / 10em;
    min-height: 30px;
    width: 33px;
}

.icon-twitter {
    background: url("/img/social.png") -54px -12px / 10em;
    min-height: 30px;
    width: 33px;
}

.icon-instagram {
    background: url("/img/social.png") -97px -12px / 10em;
    min-height: 30px;
    width: 33px;
}

.icon-linkedin {
    background: url(/img/social.png) -97px -55px / 10em;
    min-height: 30px;
    width: 33px;
}

.social-panel {
    padding: 5px;
    background-color:white;
}

.social-icon {
    margin-top: 20px;
    image-rendering: -webkit-optimize-contrast;
}

@media only screen and (min-width: 768px) {
    .social-icon {
        margin-top: 0px;
    }
}
