<!--
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> Our website uses cookies in order to offer you a better experience. You can get more information about our cookies policy
    here.
</div>
-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 visible-desktop" >
                <div class="col-sm-12 col-md-6">
                    <a class="link" onClick="window.location.href=window.location.origin"><img class="footer__brand-icon" src="/img/icon_hero_stand_pulgar.jpg" alt="footer icon"></a>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="footer__brand">Shopmycourses</p>
                </div>
            </div>
            <div class="col-md-9">
                
                <ul class="footer__menu footer__menu-first">
                    <li><a href="#">Présentation</a></li>
                    <li><a href="#">Concept</a></li>
                    <li><a href="#">Contacte-nous</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Parrainage</a></li>
                    <li><a href="#">Nos partenariats</a></li>
                    <li><a href="#">Travaille avec nous</a></li>
                </ul>
                
                <ul class="footer__menu">
                    <li><a href="#">Suis-nous</a></li>
                    <li><a href="#">Charte de confidentialité</a></li>
                    <li><a href="#">Conditions Générales d’Utilisation</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
                
            </div>
            
            <div class="col-md-3 visible-mobile">
                <div class="col-sm-12 col-md-6">
                    <a href='/'><img class="footer__brand-icon" src="/img/icon_hero_stand_pulgar.jpg" alt="footer icon"></a>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="footer__brand">Shopmycourses</p>
                </div>
            </div>
            
        </div>
    </div>
</footer>