.content-wrapper-padding-top {
    padding-top: 50px;
}

.content-wrappet-margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px!important;
}

.work-description {
    margin-bottom: 20px!important;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: $bg-3;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
}

.paragraph {
    font-size: 20px;
    background-color: white;
    margin-top: 10px;
    padding: 40px 30px;
    border-radius: 20px;
}


.paragraph-layout {
    font-size: 20px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.big-centered-logo {
    width: 100px;
    filter: contrast(1.55);
    margin: 0 auto;
    display: block;
    margin-bottom: 40px!important;
}



.left-subtitle {
    line-height: 29px;
    text-align: left;
    display: block;
    color: black;
    font-family: $font-1;
    padding: 30px 30px 0px;
    font-size: 22px;
    font-weight: 900;
    margin: 0px auto;
    background-color: white;
}

.article-title,
.jumbotron h1.article-title {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: deepskyblue;
}

.panel {
    border-radius: 0px;
}

.panel-stack {
    margin: 0px;
}

.jumbotron {
    background: azure;
}

.list-great-1 {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list-great-1-item {
    background: transparent;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 15px;
    font-size: small;
    color: black;
    line-height: 20px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.slider {
    min-height: 38vw;
    background-size: cover;
    border: 0px;
    background-repeat: no-repeat;
    transition: background 0.3s linear;
    position:relative;
}
.slider-text-block{
        position: absolute;
    display: block;
    left: 10px;
    bottom: 10px;
}

.mobile-tile {
    font-size: large;
    text-align: center;
    margin-bottom: 25px;
    line-height: 27px;
    word-spacing: 1px;
}

.mobile-margin-top {
    margin-top: 30px;
}

.stationf-image {
    width: 25%;
    display: block;

}

@media only screen and (min-width: 320px) {
    .centered-title {}
    .big-centered-logo {}
    .content-wrapper {}
}

@media only screen and (min-width: 480px) {
    .centered-title {}
    .big-centered-logo {}
    .content-wrapper {}
    .mobile-tile {}
}

@media only screen and (min-width: 768px) {
    .mobile-tile {}
    .centered-title {}
    .big-centered-logo {}
    .content-wrapper {}
    .panel-sm {
        background: transparent;
        border: 0px;
        box-shadow: none;
    }
}

@media only screen and (min-width: 992px) {
    .mobile-margin-top {
        margin-top: 0px;
    }
    .mobile-tile {}
    .centered-title {}
    .big-centered-logo {}
   
    .panel {
        border-radius: 4px;
    }
}

@media only screen and (min-width: 1200px) {
    .mobile-tile {
        text-align: left;
    }
    .centered-title {}
    .big-centered-logo {}
    .content-wrapper {}
}
