.footer__text {
    font-family: Nunito, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 900;
    line-height: 60px;
    padding: 0px 00px;
    margin: 0px;
    text-align: center;
}

.footer__text-right {
    text-align: center;
}

@media only screen and (min-width: 320px) {
 
    .footer__text {
    }

    .footer__text-right {
    }
}

@media only screen and (min-width: 480px) {
 
    .footer__text {
    }

    .footer__text-right {
    }
}

@media only screen and (min-width: 768px) {
 
    .footer__text {
    }

    .footer__text-right {
    }
}

@media only screen and (min-width: 992px) {
 
    .footer__text {
    }

    .footer__text-right {
        float: right;
        padding: 0px 10px 0px 0px;
    }
}

@media only screen and (min-width: 1200px) {
 
    .footer__text {
    }

    .footer__text-right {
    }
}