.footer-links-wrapper {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 5px;
    
      @media only screen and (max-width: 992px) {
    margin-bottom:100px;
    }
    

    @media only screen and (min-width: 992px) {
        max-width: 704px;
        margin: 0 auto;
        margin-top: 26px;
        margin-bottom: 12px;
        background-color:$bg-6;
        padding-top: 0px;
    }

}

.footer-link {
    margin: 0 auto;
    padding-left: 0px;
    background-color: #001f3f;
    @media only screen and (min-width: 992px) {
        min-width: 225px;
        display: inline-block;
        background-color:transparent;
    }
}

.footer-link a {
    padding: 15px;
    color: white;
    font-size: x-large;
    line-height: 80px;
    text-align: center;
    width: 100%;
    display: block;
    @media only screen and (min-width: 992px) {
        color:$text-6;
        padding: 0px;
        border-top: 0;
        background: transparent;
        text-align: center;
        vertical-align: unset;
        display: block;
        line-height: 100px;
        position: relative;
        top: 4px;
    }
}
.footer-link a:hover{
    color:grey;
}


.footer__text {
   color: navy;
    font-weight: 100;
    line-height: 24px;
    padding: 20px 40px;
    margin: 0px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1.1px;
}

.footer__text-right {
    text-align: center;
}

@media only screen and (min-width: 320px) {

    .footer__text {}

    .footer__text-right {}
}

@media only screen and (min-width: 480px) {

    .footer__text {}

    .footer__text-right {}
}

@media only screen and (min-width: 768px) {

    .footer__text {}

    .footer__text-right {}
}

@media only screen and (min-width: 992px) {

    .footer__text {}

    .footer__text-right {
        float: right;
        padding: 0px 10px 0px 0px;
    }
}

@media only screen and (min-width: 1200px) {

    .footer__text {}

    .footer__text-right {}
}
