header{
    background-color:white;
}
.header-text-title {
    line-height: 70px;
    margin: 0px;
    font-family: $font-1;
    font-size: 35px;
    color: #001f3f;
    font-weight: 100;
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px;
    transition: linear 2s;
    @media only screen and (min-width: 992px) {
        float:left;
        width:180px;
    }
}
.header-text-title:hover,.header-text-title:focus,.header-text-title:active{
    text-decoration: none;
    outline: 0px;
    color: $text-6;
    transition: linear 2s;
    font-size: 33px;    
}


.header-text-subtitle {
    text-align: center;
    font-size: 20px;
    color: #001f3f;
    padding: 0px 0px 25px;
    margin: -20 0px 0px;
    line-height: 25px;
    
    @media only screen and (min-width: 992px) {
        padding:0px;
        float:right;
        margin: 0px;
        margin-top:32px;
        margin-right: 30px;
    }
}

.header-text-cities {
    text-align: center;
    color: $text-5;
    background-color: $bg-5;
    margin-bottom: 0px;
    word-spacing: 5px;
    margin-top: 0px;
    font-size: smaller;
    padding: 1px;
}

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}
