header {
    padding-top: 10px;
}

.header__col {
    background-color: white;
    padding-left: 20px;
    border-radius: 50px;
    width: 250px;
    position: relative;
    z-index: 2;
}

.header__quote {
    color: black;
    font-family: Nunito, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 40px 50px 0px;
    font-weight: 100;
}

.header__logo {
    width: 60px;
    margin-top: 20px;
    display: inline;
    filter: contrast(1.55);
}

.header__text {
    display: inline-block;
    color: black;
    font-family: Nunito, sans-serif;
    font-size: 14px;
    padding: 0px 15px 0px 10px;
    line-height: 100px;
    margin: 0px;
    font-weight: bolder;
}

.header__text__alternate {
    font-weight: 100;
}

.header__brand:hover {
    text-decoration: none;
}

.header__brand p {
    display: none;
    line-height: 100px;
    vertical-align: top;
    margin: 0px;
    font-family: Nunito, sans-serif;
    font-size: 25px;
    color: black;
    padding-top: 0px;
    padding-left: 20px;
    font-weight: bolder;
}

@media only screen and (min-width: 320px) {
    .header__brand p {
    }

    .header__logo {
    }

    .header__text {
        font-size: 15px;
    }
}

@media only screen and (min-width: 480px) {
    .header__brand p {
    }

    .header__logo {
        margin-left: 50px;
    }

    .header__text {
        font-size: 20px;
        padding: 0px 29px 0px 20px;
    }
}

@media only screen and (min-width: 768px) {
    .header__brand p {
    }

    .header__logo {
        margin-left: 70px;
    }

    .header__text {
        font-size: 25px;
    }
}

@media only screen and (min-width: 992px) {
    .header__brand p {
        display: inline-block;
    }

    .header__logo {
        margin-left: 0px;
    }

    .header__text {
        float: right;
    }
}

@media only screen and (min-width: 1200px) {
    .header__brand p {
    }

    .header__logo {
    }

    .header__text {
    }
}