.home__main_text{
        padding: 10px;
    text-align: -webkit-center;
    word-spacing: 3px;
    line-height: 30px;
    font-size: 16px;
}

.home-menu {
        list-style: none;
    margin: 20px auto;
    padding: 15px 0px 15px;
    max-width: 280px;
    background: steelblue;
    color: white;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    margin-bottom: 260px;
    
}

.light{
        font-weight: 100!important;
}

.home-menu__item {
    margin-top:20px;
}

.home-menu__item p {
    text-align: center;
    margin: 0px 0px 0px;
}

.home-menu__item a {
  color: white;
    font-size: 20px;
    font-weight: bolder;
    line-height: 20px;
    background: deepskyblue;
}

.home-menu__item a:hover {
        text-decoration: none;
    outline: rgba(255,255,255,.8) dashed 9px;
}

.home-menu__item-client-login {
    background: yellow;
}

@media only screen and (min-width: 320px) {
    .home-menu {
       
    }
    .home-menu__item {}
    .home-menu__item p {}
    .home-menu__item a {}
    .home-menu__item a:hover {}
}

@media only screen and (min-width: 480px) {
    .home-menu {
           list-style: none;
    margin: 20px auto;
    padding: 15px 0px 15px;
    max-width: 280px;
    background: steelblue;
    color: white;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    margin-bottom: 260px;
    }
    .home-menu__item {}
    .home-menu__item p {}
    .home-menu__item a {}
    .home-menu__item a:hover {}
}

@media only screen and (min-width: 768px) {
    .home-menu {}
    .home-menu__item {}
    .home-menu__item p {}
    .home-menu__item a {}
    .home-menu__item a:hover {}
}

@media only screen and (min-width: 992px) {
    .home-menu {}
    .home-menu__item {}
    .home-menu__item p {}
    .home-menu__item a {}
    .home-menu__item a:hover {}
}

@media only screen and (min-width: 1200px) {
    .home-menu {}
    .home-menu__item {}
    .home-menu__item p {}
    .home-menu__item a {}
    .home-menu__item a:hover {}
}
