/*MAIN COLORS*/

$bg-1: lightsteelblue;
$text-1:white;

$bg-2: black;
$text-2:white;

$bg-3: white;
$text-3:black;

$bg-4:lightsteelblue;
$text-4:#001f3f;

$bg-5:white;
$text-5: navy;

$bg-6:white;
$text-6: #001f3f;

/*
//
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Sans Pro', sans-serif;

//A
font-family: 'Roboto', sans-serif;
font-family: 'Zilla Slab', serif;
font-family: 'Martel Sans', sans-serif;
font-family: 'Mallanna', sans-serif;
*/

$font-1:'Martel Sans', serif;

@import 'brand-rt1';
@import 'form-rt1';
@import 'panel-rt1';
@import 'panel-rt5';
@import 'paginator';
@import 'tags';
@import 'social';
@import 'layout';
@import 'blocks';
@import 'header';
@import 'footer';
@import 'content';
@import 'text';
@import 'projects';

.gutter-1 > [class*='col-'] {
    padding-right:10px!important;
    padding-left:10px!important;
}


@import '../../common/css/helpers.css';