.unstyled-list {
    list-style: none;
    padding: 0px;
}

.italic-centered-text {
    text-align: center;
    font-style: italic;
    @media (min-width: 320px) {
        border: 0px;
    }
    @media (min-width: 480px) {
        border: 0px;
    }
    @media (min-width: 768px) {
        border: 0px;
    }
    @media (min-width: 992px) {
        border: 0px;
        text-align: left;
    }
    @media (min-width: 1200px) {
        border: 0px;
    }
}

.cronology-list {
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    @media (min-width: 320px) {
        border: 0px;
    }
    @media (min-width: 480px) {
        border: 0px;
    }
    @media (min-width: 768px) {
        border: 0px;
    }
    @media (min-width: 992px) {
        border: 0px;
        text-align: left;
    }
    @media (min-width: 1200px) {
        border: 0px;
    }
}

.cronology-year {
    text-align: center;
    padding: 0px;
    margin: 15px 0px 0px 0px;
    font-weight: bold;
    @media (min-width: 320px) {
        border: 0px;
    }
    @media (min-width: 480px) {
        border: 0px;
    }
    @media (min-width: 768px) {
        border: 0px;
    }
    @media (min-width: 992px) {
        border: 0px;
        text-align: left;
    }
    @media (min-width: 1200px) {
        border: 0px;
    }
}

.services-title {
    font-size: large;
    text-align: center;
}

.services-title span {
    font-size: 15px;
}

.service-link {
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: $text-3;
    text-decoration: none;
    display: block;
    max-width: 280px;
    margin: 20px auto;
    border: 1px solid $text-3;
    padding:30px;
    text-align:left;
        padding-left: 20px;
    @media (min-width: 320px) {
        text-decoration: none;
    }
    @media (min-width: 480px) {
        text-decoration: none;
    }
    @media (min-width: 768px) {
        text-decoration: none;
    }
    @media (min-width: 992px) {
        text-decoration: none;
        
    }
    @media (min-width: 1200px) {
        text-decoration: none;
    }
}
.service-link__span{
    float:right;
    @media (min-width: 992px) {
       float:right;
    }
}

.service_link__span_coming_soon{
        font-size: 12px;
    color: darkseagreen;
    text-align: right;
    width: 100%;
    display: block;
}
.service_link__span_type{
       font-size: 12px;
    color: dodgerblue;
    text-align: right;
    width: 100%;
    display: block;
}
.service_link__span_facebook{
       font-size: 12px;
    color: dodgerblue;
    text-align: right;
    width: 100%;
    display: block;
}

.section-p {
    margin-top: 10px;
    font-size: 13px;
    text-align: left;
    margin-bottom: 25px;
    line-height: 21px;
    word-spacing: 2px;
    @media (min-width: 320px) {
        border:0;
    }
    @media (min-width: 480px) {
        border: 0;
    }
    @media (min-width: 768px) {
        border: 0;
    }
    @media (min-width: 992px) {
        border: 0;
    }
    @media (min-width: 1200px) {
        border: 0;
    }
}

.text-sitemap {
    font-size: 10px;
    margin: 20px;
    text-align: center;

    @media (min-width: 992px) {
        font-size: 10px;
        margin: 80px 20px 0px;
        text-align: center;
    }
}

.service-text {
    font-size: 12px;
    font-weight: 100;
}

.text-slider {



    text-align: center;
    font-size: 20px;
    background-color: transparent;
    color: white;
    margin: 0px;
    line-height: 25px;
    float: left;

    font-size: 5vw;
    line-height: 5vw;
}

.section-title {
    text-align: left;
    color: $text-1;
    font-family: $font-1;
    padding: 20px;
    font-weight: 100;
    background: #001f3f;
    font-size: 16px;
    margin: 0px;
    font-size: 1.5em;
    display: none;

    @media (min-width: 320px) {
        border:0;
    }
    @media (min-width: 480px) {
        border: 0;
    }
    @media (min-width: 768px) {
        border: 0;
    }
    @media (min-width: 992px) {
        border: 0;
        display: block;
        margin-top: 30px;
    }
    @media (min-width: 1200px) {
        border: 0;
    }
}

.centered-title {
    /*max-width: 580px;*/
    line-height: 38px;
    text-align: center;
    display: block;
    color: oldlace;
    font-family: $font-1;
    padding: 20px 0px 20px 0px;
    font-size: 35px;
    font-weight: 900;
    background: black;
    margin: 0px auto 0px;
    font-size: 22px;
    @media (min-width: 320px) {
        border: 0px;
    }
    @media (min-width: 480px) {
        border: 0px;
        font-size: 35px;
    }
    @media (min-width: 768px) {
        border: 0px;
    }
    @media (min-width: 992px) {
        border: 0px;
        text-align: left;
        padding: 10px 30px;
        width: 100%;
        display: block;
        margin: 0px;
        max-width: none;
    }
    @media (min-width: 1200px) {
        border: 0px;
    }
}

.back-btn:active,
.back-btn:hover {
    text-decoration: none;
}

.back-btn {
    border: 0px;
    background: white;
    width: 100%;
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: 800;
    color: black;
    text-shadow: none;
    @media (min-width: 320px) {
        border: 0px;
    }
    @media (min-width: 480px) {
        border: 0px;
    }
    @media (min-width: 768px) {
        border: 0px;
    }
    @media (min-width: 992px) {
        border: 0px;
        text-align: left;
    }
    @media (min-width: 1200px) {
        border: 0px;
    }
}
