<div class="row" ng-controller="ctrl-bo-setup">
    <div class="col-lg-12 col-xs-12">
        <div class="panel">
            <div class="row">
                <div class="col-xs-6 col-md-2">
                    <a ng-show="true" href="/backoffice" class="btn btn-primary">Backoffice</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xs-12" ng-cloak ng-show="true">
        <div class="panel">
            <h2>Setup</h2>
            <div class="row">
                <div class="col-sm-12">
                    <a ng-cloak ng-show="true" ng-click="setupCategories()" class="btn btn-primary" ng-bind="'Setup categories'"></a>
                </div>
                <div class="col-sm-12">
                    <a ng-cloak ng-show="true" ng-click="setupLangTexts()" class="btn btn-primary" ng-bind="'Setup Language texts'"></a>
                </div>
            </div>
        </div>
    </div>
</div>
