<div class="row relative">
    <div class="title-bar">
        <div class="col-xs-5 col-sm-2 col-md-4">
            <h2 class="title-bar__title">Promotions</h2>
        </div>
        <div class="col-xs-3 col-xs-offset-0 col-sm-3 col-sm-offset-3 col-md-2 col-sm-offset-3">
            <h3 class="promo__magasin-title">Lidl</h3>
        </div>
        <div class="col-xs-4 col-md-3 ">
            <p class="promo__magasin-description">
                8 Boulevard de Strasbourg<br> 0 800 00 54 35<br> ouvert jusqu’à 21h<br>
            </p>
        </div>
    </div>
</div>
<div class="row home section col-margin-4">
    <div class="col-sm-12">



        <div class="row">
            <div class="col-md-4">
                <ul class="promo__list">
                    <li class="promo__item">
                        <a class="link" href="/html/promo_details.html">
                            <img src="/img/sample/promo_item.jpg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <h3 class="promo__details-title">Avocats</h3>
                <p class="promo__details-text">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                    animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
                    assumenda est, omnis dolor repellendus.
                </p>
            </div>
        </div>

        <div class="row col-margin-1">
            <div class="col-md-4">
                <h3 class="promo__details-title">Détails de la promotion</h3>
                <p class="promo__details-text">
                    Prix: 1.29€<br>
                    Origine: Kenya<br>
                    Quantité: Le filet de 3 fruits<br>
                    valable jusque: De 05 au 08/10<br>
                </p>
            </div>

        </div>



        <div class="row col-margin-7">
            <div class="col-sm-7 col-md-10">
                <a href="/html/promo_list.html" class="link btn btn-md btn-red" ng-disabled="!hasSelectedShops()" ng-click="hasSelectedShops() && setSelectedShop()">Retourner</a>
            </div>
            <div class="col-sm-3 col-sm-offset-2 col-md-offset-0 col-md-2">

            </div>

        </div>

    </div>
</div>
