<div class="row relative">
    <div class="title-bar">
        <div class="col-md-6">
            <h2 class="title-bar__title">Liste des commandes</h2>
        </div>
        <div class="col-md-4 col-sm-offset-4">

        </div>
    </div>
    <img class="booking__static-ad" src='/img/sample/static_ad.png'>
</div>
<div class="row home section col-margin-6">
    <div class="col-sm-12">

        <div class="row">
            <div class="col-md-12">
                <h5 class="list__filter">Filtres</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="list__etat">Etat</h3>

                <ul class="list__etat__list">
                    <li class="list__etat__item">Attendre </li>&nbsp;/
                    <li class="list__etat__item">en cours</li>&nbsp;/
                    <li class="list__etat__item">Reçue </li>&nbsp;/
                    <li class="list__etat__item">Annulée </li>&nbsp;/
                    <li class="list__etat__item">Tout </li>
                </ul>

                <i class="fa fa-info-circle list__etat__info" aria-hidden="true"></i>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <ul class="list__ul-list">
                    <li class="list__item">
                        <p class="list__item_hover-text">Voir les détails</p>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="margin-top-10">
                                        <i class="fa fa-building-o list__icon" aria-hidden="true"></i>
                                        <span>Monoprix</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="margin-top-10">
                                        <i class="fa fa-map-marker list__icon" aria-hidden="true"></i>
                                        <span>15 rue de L’Hopital Saint Louis</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="margin-top-10">
                                        <div class="list__item__icon-placeholder"></div>
                                        <span>En cours</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    <img class="list__item__avatar" src="/img/sample/avatar2.jpg">
                                </div>
                                <h3 class="list__item__fullname">M. Lucien Bernard</h3>
                            </div>
                        </div>
                    </li>



                </ul>



            </div>
        </div>

        <div class="row col-margin-4">
            <div class="col-md-12">
                <h5 class="list__filter">Cliquez sur un élément pour voir les détails</h5>
            </div>
        </div>
        <div class="row col-margin-7">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
