<div class="row relative">
    <div class="title-bar">
        <div class="col-md-9">
            <h2 class="title-bar__title">Comparer les prix: Par produit</h2>
        </div>
        <div class="col-md-3 col-sm-offset-0">

        </div>
    </div>
    <img class="booking__static-ad ad-top-right" src='/img/sample/static_ad.png'>
</div>
<div class="row home section col-margin-0">
    <div class="col-sm-12">

        <div class="row col-margin-0">
            <div class="col-sm-12 col-md-12">
                <h4>Produit sélectionné</h4>
                <ul class="list-group">
                    <li id="item" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4">

                                <div class="panier__item">
                                    <div class="panier__magasin-icon-wrapper">
                                        <i class="fa fa-shopping-basket panier__magasin-icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="panier__magasin__description-wrapper">
                                        <h5 class="panier__magasin__title">Simply Market</h5>
                                        <p class="panier__magasin__description">64 Quai De Jemmapes</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">

                                <div class="panier__item">
                                    <div class="panier__product-icon-wrapper">
                                        <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                                    </div>
                                    <div class="panier__product__description-wrapper">
                                        <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                        <p class="panier__product__description">le paquet de 130 g</p>
                                        <p class="panier__product__price">1.49€</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row col-margin-4">
            <div class="col-sm-12 col-md-12">
                <h4>Produits trouvés</h4>
                <ul class="list-group">
                    <li id="item" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4">

                                <div class="panier__item">
                                    <div class="panier__magasin-icon-wrapper">
                                        <i class="fa fa-shopping-basket panier__magasin-icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="panier__magasin__description-wrapper">
                                        <h5 class="panier__magasin__title">Simply Market</h5>
                                        <p class="panier__magasin__description">64 Quai De Jemmapes</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">

                                <div class="panier__item">
                                    <div class="panier__product-icon-wrapper">
                                        <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                                    </div>
                                    <div class="panier__product__description-wrapper">
                                        <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                        <p class="panier__product__description">le paquet de 130 g</p>
                                        <p class="panier__product__price">1.30€</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <h3 class="prix__less">meilleur prix!</h3>
                                <h3 class="">Même produit</h3>
                            </div>
                        </div>
                    </li>
                    
                    <li id="item" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4">

                                <div class="panier__item">
                                    <div class="panier__magasin-icon-wrapper">
                                        <i class="fa fa-shopping-basket panier__magasin-icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="panier__magasin__description-wrapper">
                                        <h5 class="panier__magasin__title">Simply Market</h5>
                                        <p class="panier__magasin__description">64 Quai De Jemmapes</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">

                                <div class="panier__item">
                                    <div class="panier__product-icon-wrapper">
                                        <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                                    </div>
                                    <div class="panier__product__description-wrapper">
                                        <h5 class="panier__product__title">Chips Cheese Lay’s</h5>
                                        <p class="panier__product__description">le paquet de 130 g</p>
                                        <p class="panier__product__price">1.39€</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <h3 class="prix__less">meilleur prix!</h3>
                                <h3 class="">produit similaire</h3>
                            </div>
                        </div>
                    </li>
                    
                    <li id="item" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4">

                                <div class="panier__item">
                                    <div class="panier__magasin-icon-wrapper">
                                        <i class="fa fa-shopping-basket panier__magasin-icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="panier__magasin__description-wrapper">
                                        <h5 class="panier__magasin__title">Monoprix</h5>
                                        <p class="panier__magasin__description"> 142-150 Rue De St Maur</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">

                                <div class="panier__item">
                                    <div class="panier__product-icon-wrapper">
                                        <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                                    </div>
                                    <div class="panier__product__description-wrapper">
                                        <h5 class="panier__product__title">Chips Limon Lay’s</h5>
                                        <p class="panier__product__description">le paquet de 130 g</p>
                                        <p class="panier__product__price">1.00€</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <h3 class="prix__less">meilleur prix!</h3>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>


        <div class="row col-margin-8">
            <div class="col-sm-7 col-md-10">
                <a href="/html/prix_product_1.html" ng-click="signInWithEmail()" class="btn btn-red btn-block btn-lg" ng-disabled="signin.$invalid">Voir davantage de produits</a>
            </div>
            <div class="col-sm-3 col-sm-offset-2 col-md-offset-0 col-md-2">
                <label id="booking__bottom-rigth-label">Étape 2/2</label>
            </div>
        </div>

    </div>
</div>
