<div id="html-shorcuts">
    <h2>HTMLFY Shorcuts</h2>
    <p class="text-left">The follow screens represent png -> html work, without interaction.</p>

    <div>
        <h4>Static</h4>
        <a target="_blank" href="/html/home.html">Home</a><br>
        <a target="_blank" href="/html/home_bg2.html">Home (bg2)</a>
    </div>
    
    <div>
        <h4>Authentication</h4>
        <a target="_blank" href="/html/start.html">Start (C'est parti)</a> <br>
        <a target="_blank" href="/html/connexion.html">Connexion</a> <br>
        <a target="_blank" href="/html/inscription.html">Inscription</a>
    </div>
    
 
    
    <div>
        <h4>Main Options</h4>
        <a target="_blank" href="/html/dashboard.html">Dashboard (Tableau de bord)</a> <br>
        <a target="_blank" href="/html/deliveries.html">Livraisons</a> <br>
        <a target="_blank" href="/html/orders.html">Commandes</a> <br>
        <a target="_blank" href="/html/prix_main.html">Prix Comparision (main)</a> <br>
        <a target="_blank" href="/html/promo_search.html">Promotions (search)</a> <br>
        <a target="_blank" href="/html/profile.html">Mes Paramètres</a> <br>
    </div>

    <div>
        <h4>Booking (Se faire Livrer)</h4>
        <a target="_blank" href="/html/booking1.html">Booking 1/2</a> <br>
        <a target="_blank" href="/html/booking2.html">Booking 2/2</a> <br>
        <a target="_blank" href="/html/booking_success.html">Booking Success</a> <br>
    </div>
    
     <div>
        <h4>Order details (Commande, Deliverie)</h4>
        <a target="_blank" href="/html/booking_details_unpaid_unassigned.html">unpaid unassigned</a> <br>
        <a target="_blank" href="/html/booking_details_unpaid_assigned.html">unpaid assigned</a> <br>
        <a target="_blank" href="/html/booking_details_paid_working.html">paid working</a> <br>
        <a target="_blank" href="/html/booking_details_paid_done.html">paid done</a> <br>
        <a target="_blank" href="/html/booking_details_paid_canceled.html">paid canceled</a> <br>
    </div>
    
    <div>
        <h4>Availability (Livrer)</h4>
        <a target="_blank" href="/html/availability1.html">Availability 1/2</a> <br>
        <a target="_blank" href="/html/availability2.html">Availability 2/2</a> <br>
        <a target="_blank" href="/html/availability_success.html">Availability Success</a>
    </div>
    
    <div>
        <h4>Promotions</h4>
        <a target="_blank" href="/html/promo_search.html">Search</a><br>
        <a target="_blank" href="/html/promo_list.html">List</a><br>
        <a target="_blank" href="/html/promo_details.html">Details</a>
    </div>
    
    <div>
        <h4>Prix Comparision  </h4>
        <a target="_blank" href="/html/prix_main.html">Main</a> <br>
        <a target="_blank" href="/html/prix_liste_empty.html">Liste empty</a> <br>
        <a target="_blank" href="/html/prix_liste_1.html">Liste 1 </a> <br>
        <a target="_blank" href="/html/prix_liste_2.html">Liste 2 </a> <br>
        <a target="_blank" href="/html/prix_liste_details.html">Liste Details </a> <br>
        <a target="_blank" href="/html/prix_product_1.html">Product 1</a> <br>
        <a target="_blank" href="/html/prix_product_2.html">Product 2</a>
    </div>
    
    <div>
        <h4>Miscellaneous</h4>
        <a target="_blank" href="/html/error.html">Error</a>
    </div>
    
    <div>
        <h4>Admin</h4>
        <a target="_blank" href="/admin">BO Login</a><br>
      
    </div>

</div>