<div class="row relative">
    <div class="title-bar">
        <div class="col-md-4">
            <h2 class="title-bar__title">Upps...</h2>
        </div>
        <div class="col-md-4 col-sm-offset-4">

        </div>
    </div>
    <img class="booking__static-ad" src='/img/sample/static_ad.png'>
</div>
<div class="row home section col-margin-6">
    <div class="col-sm-12">

        <img src="/img/hero_cry.png" class="start__logo img-responsive">
        <h2 class="error__title">
            le site est cassé
        </h2>
        <p class="error_description">
            Quelque chose a mal tourné, mais nous promettons de le fixer bientôt
        </p>

    </div>
</div>
