<div class="row relative">
    <div class="title-bar">
        <div class="col-xs-5 col-sm-2 col-md-4">
            <h2 class="title-bar__title">Promotions</h2>
        </div>
        <div class="col-xs-3 col-xs-offset-0 col-sm-3 col-sm-offset-3 col-md-2 col-sm-offset-3">
            <h3 class="promo__magasin-title">Lidl</h3>
        </div>
        <div class="col-xs-4 col-md-3 ">
            <p class="promo__magasin-description">
                8 Boulevard de Strasbourg<br>
                0 800 00 54 35<br>
                ouvert jusqu’à 21h<br>
            </p>
        </div>
    </div>
</div>
<div class="row home section col-margin-4">
    <div class="col-sm-12">



        <div class="row">
            <div class="col-md-12">
                 <ul class="promo__list">
                     <li class="promo__item">
                         <a class="link" href="/html/promo_details.html">
                             <img src="/img/sample/promo_item.jpg">
                         </a>
                     </li>
                     <li class="promo__item">
                         <img src="/img/sample/promo_item.jpg">
                     </li>
                     <li class="promo__item">
                         <img src="/img/sample/promo_item.jpg">
                     </li>
                     <li class="promo__item">
                         <img src="/img/sample/promo_item.jpg">
                     </li>
                     <li class="promo__item">
                         <img src="/img/sample/promo_item.jpg">
                     </li>
                     <li class="promo__item">
                         <img src="/img/sample/promo_item.jpg">
                     </li>
                 </ul>
            </div>
        </div>

      
        
         <div class="row col-margin-3">
            <div class="col-sm-7 col-md-10">
                <a 
                href="/html/promo_details.html"
                class="link btn btn-md btn-red" ng-disabled="!hasSelectedShops()" ng-click="hasSelectedShops() && setSelectedShop()">Suivant</a>
            </div>
             <div class="col-sm-3 col-sm-offset-2 col-md-offset-0 col-md-2">
                <label id="booking__bottom-rigth-label">Page 1/3</label>
            </div>
            
        </div>

    </div>
</div>
