<!DOCTYPE html>
    <html ng-app="app">

<head>
    <title>Clarity | Pagar con stripe</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript">
        window.$G = {
            root: '{{root}}',
            urlRoot: '{{urlRoot}}',
            serverURL: '{{serverURL}}'
        };
    </script>
    <style type="text/css">
        form {
            max-width: 500px;
            margin: 0 auto;
        }
        
        label {
            width: 100%;
        }
        
        .row {
            margin-top: 5px;
        }
        
        input,
        textarea {
            width: 100%;
        }
        
        .row.images {
            margin-top: 50px;
        }
        
        .row.images img {
            margin-top: 10px;
        }
    </style>
</head>

<body ng-controller="main">
    {{#each STRIPE_CDN}}
    <script type="text/javascript" src="{{this}}"></script>
    {{/each}} {{#each STRIPE}}
    <script type="text/javascript" src="{{root}}/{{this}}"></script>
    {{/each}} {{> live-sync}}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1>Pagar con Stripe</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="row">
                        <div class="alert alert-info" role="alert">
                            <b>Como funciona:</b>
                            <br> Stripe brinda un popup que se ejecuta desde un servidor externo https por medio de una libreria js en el cual el usuario ingresa los datos y se genera un token que representa la tarjeta. Con dicho token y con el email genero
                            o se recupero el cliente y genero el cobro asociado. Abajo adjunto screens del panel de stripe para que se den una idea de como se ve todo.
                            <br>
                            <br>
                            <b>Nota:</b>
                            <br> - El email es requerido por si hay que enviar algun tipo de recibo.
                            <br> - La moneda es en pesos argentinos (ars)
                        </div>
                    </div>
                    <div class="row">
                        <label>Email *</label>
                        <input class="form-control" type="email" ng-model="data.email" placeholder="email" />
                    </div>
                    <div class="row">
                        <label>Descripcion (Descripcion para mi)</label>
                        <input class="form-control" type="text" ng-model="data.description" placeholder="description" />
                    </div>
                    <div class="row">
                        <label>Monto * (en pesos argentinos)</label>
                        <input class="form-control" type="text" ng-model="data.amount" placeholder="Monto" value="2000" />
                    </div>
                    <div class="row">
                        <label>Moneda *</label>
                        <input class="form-control" type="text" disabled ng-value="data.currency" />
                    </div>
                    <div class="row">
                        <label>statement_descriptor * (Descripcion corta para el banco)</label>
                        <input class="form-control" type="text" ng-model="data.statement_descriptor" placeholder="statement_descriptor" value="" />
                    </div>
                    <div class="row">
                        <div class="alert alert-info" role="alert"><b>Nota:</b> Descripcion para el banco. Lo dejo a su eleccion. Stripe dice: As an example, if your website is RunClub and the item you're charging for is a race ticket, you may want to specify a statement_descriptor of RunClub
                            5K race ticket. The statement description may not include
                            <>"' characters. While most banks display this information consistently, some may display it incorrectly or not at all.</div>
                    </div>
                    <div class="row">
                        <label>Comentario (metadata para mi)</label>
                        <textarea class="form-control" type="text" ng-model="data.metadata.commment" placeholder="Comentario"></textarea>
                    </div>
                    <div class="row">
                        <label>Estado</label>
                        <input class="form-control" type="text" disabled ng-model="state.message" />
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info" role="alert">
                                <b>Estados:</b>
                                <br>
                                <br>
                                <b>Success:</b> El pago se proceso correctamente y voy a recibir un email para chequear la cuenta de Stripe.
                                <br>
                                <b>Failed:</b>El pago no se pudo procesar por alguna razon y voy a recibir un email con toda la informacion para ver lo que paso.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-success" ng-click="stripePopup()">Abrir Popup de Stripe</button>
                        </div>
                    </div>

                    <div class="row images">
                        <div class="col-sm-12">
                            <a href="{{res}}/clarity/stripe/stripe1.jpg" target="_blank"><img src="{{res}}/clarity/stripe/stripe1.jpg" class="img-responsive"></a>
                            <a href="{{res}}/clarity/stripe/stripe2.jpg" target="_blank"><img src="{{res}}/clarity/stripe/stripe2.jpg" class="img-responsive"></a>
                            <a href="{{res}}/clarity/stripe/stripe3.jpg" target="_blank"><img src="{{res}}/clarity/stripe/stripe3.jpg" class="img-responsive"></a>
                            <a href="{{res}}/clarity/stripe/stripe4.jpg" target="_blank"><img src="{{res}}/clarity/stripe/stripe4.jpg" class="img-responsive"></a>
                            <a href="{{res}}/clarity/stripe/stripe5.jpg" target="_blank"><img src="{{res}}/clarity/stripe/stripe5.jpg" class="img-responsive"></a>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <script>
        /*global angular*/
        /*global StripeCheckout*/
        /*global $*/
        /*global $U*/

        (function() {
            var app = angular.module('app', []);
            app.controller('main', [
                '$scope', '$rootScope', '$timeout',
                function(s, r, $timeout) {
                    $U.expose('s', s);
                    s.state = {
                        done: false,
                        message: '',
                        showFailed: false
                    };
                    s.data = {
                        description: "Pago por Trabajo Abril Medium (16 horas)",
                        amount: 2000,
                        currency: 'ars',
                        metadata: {
                            comment: ''
                        },
                        statement_descriptor: ''
                    };

                    var handler = StripeCheckout.configure({
                        // key: 'pk_test_MDkxtBLcBpHwMCgkqX2dJHjO', //test
                        key: 'pk_live_0qRXxDKVHwKmzFEAspjEy0CW',
                        //image: '/img/documentation/checkout/marketplace.png',
                        locale: 'es',
                        token: function(res) {
                            // You can access the token ID with `token.id`.
                            // Get the token ID to your server-side code for use.
                            s.data.token = res.id;
                            pay(s.data, function(r) {
                                console.info(r);
                                if (r.ok) {
                                    s.state.message = "Success";
                                }
                                else {
                                    s.state.message = "Failed";
                                    s.state.showFailed = true;
                                }
                                $timeout(function() {
                                    s.$apply()
                                });
                            });
                        }
                    });
                    s.stripePopup = function() {
                        if (!s.data.email) return s.state.message = "Email requerido.";
                        if (!s.data.amount) return s.state.message = "Monto requerido (En pesos argentinos)";
                        if (s.data.amount) {
                            if (isNaN(s.data.amount) || s.data.amount < 10) {
                                return s.state.message = "Monto debe ser un numero mayor a 10";
                            }
                        }
                        if (!s.data.statement_descriptor) return s.state.message = "statement_descriptor requerido.";
                        handler.open({
                            name: 'JLA',
                            email: s.data.email,
                            description: s.data.description,
                            zipCode: false,
                            currency: s.data.currency,
                            amount: s.data.amount * 100 //en centavos
                        });
                    }
                }
            ]);

            var apiURL = 'https://maerp.herokuapp.com';
            
            $.ajax({
                url: '/serverURL',
                method: "get",
                success: function(r) {
                    apiURL = r.URL;
                    console.info('apiURL',apiURL);
                    
                     $.ajax({
                        url:apiURL,
                        method: "get",
                        success: function(r) {
                            console.info('apiURL-test',r);
                        }
                    });
                    
                },
                error: function(r) {

                }
            });

            function pay(data, cb) {
                $.ajax({
                    url: apiURL+'/ctrl/Stripe/makePayment',
                    method: "post",
                    data: data,
                    success: function(r) {
                        cb(r);
                    },
                    error: function(r) {
                        cb(r);
                    }
                });
            }
        })();
    </script>
</body>

</html>
