<header role="banner" id="fh5co-header">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="row">
				<div class="col-md-3">
					<div class="fh5co-navbar-brand">
						<a class="fh5co-logo" href="{{root}}"><img class="logo img-responsive" src="{{root}}images/brand-nav.png" alt="Closest Logo"></a>
					</div>
				</div>
				<div class="col-md-6">
					<ul class="nav text-center">
						<!--
						<li class="work hidden"><a href="/work"><span>Work</span></a></li>
						<li class="home"><a href="/home">Home</a></li>
						-->
						<li><a href="{{root}}about">About</a></li>
						<li><a href="{{root}}contact">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul class="social">
						<li><a href="https://ar.linkedin.com/in/richard-gentilella-57260a5a"><i class="icon-linkedin"></i></a></li>
						<li><a href="https://es.pinterest.com/rgentilella/trend/"><i class="icon-pinterest"></i></a></li>
						<li><a href="https://issuu.com/richardgentilella/docs/portafolio_richard_gentilella_2.0"><i class="icon-book"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>