<div class="box-wrap">
	{{>rich.nav}}
	<!-- END: header -->
	<section id="intro">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
					<div class="intro animate-box">
						<h1>Contact Me</h1>
						<h2>Skype: richard.gentilella</h2>
					</div>
				</div>
			</div>
			<div>
	</section>

	<main id="main">
		<div class="container">
			<div class="col-md-8 col-md-offset-2 animate-box">
				<form action="#">
					<div class="form-group row">
						<div class="col-md-6 field">
							<label for="firstname">First Name</label>
							<input type="text" name="FName" id="firstname" class="form-control">
						</div>
						<div class="col-md-6 field">
							<label for="lastname">Last Name</label>
							<input type="text" name="FName" id="lastname" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6 field">
							<label for="email">Email</label>
							<input type="text" name="FName" id="email" class="form-control">
						</div>
						<div class="col-md-6 field">
							<label for="phone">Phone</label>
							<input type="text" name="FName" id="phone" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-12 field">
							<label for="message">Message</label>
							<textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-12 field">
							<input type="submit" id="submit" class="btn btn-primary" value="Send Message">
						</div>
					</div>
				</form>
			</div>
			<!-- <div class="col-md-4"></div> -->
		</div>
	</main>
	</div>
