 <section class="special" data-scrollax-parent="true">
  <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="{{root}}img/test2.jpg" /></div>
  <div class="content">
    <div class="text centralize">
      <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
        <!--
        <header class="major">
          <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
        </header>
        <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
        -->
      </div>
      
    </div>
  </div>
</section>
<section class="special" data-scrollax-parent="true">
  <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="{{root}}img/vacuum_1.jpg" /></div>
  <div class="content">
    <div class="text centralize">
      <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
      <!--
        <header class="major">
          <h2>Lorem ipsum dolor sit amet.</h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
        -->
      </div>
    </div>
  </div>
</section>
<section class="special" data-scrollax-parent="true">
  <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="https://placehold.it/2048x1365" /></div>
  <div class="content">
    <div class="text centralize hidden">
      <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
        <header class="major">
          <h2>Sed hendrerit lobortis dui. Donec.</h2>
        </header>
        <p>Duis efficitur ex non lectus congue, laoreet condimentum neque ullamcorper. Phasellus mauris turpis, convallis vel posuere sed, imperdiet commodo ligula. In eget consectetur velit. Sed eget arcu eget risus semper placerat. Aliquam aliquet erat augue, non scelerisque augue rhoncus vitae.</p>
      </div>
    </div>
  </div>
</section>
<section class="special" data-scrollax-parent="true">
  <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="{{root}}img/test2.jpg" /></div>
  <div class="content">
    <div class="text centralize hidden">
      <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
        <header class="major">
          <h2>Vestibulum elementum purus quis justo.</h2>
        </header>
        <p>Quisque interdum convallis lacus ut auctor. Nunc venenatis elit non nulla gravida, congue fringilla justo ultrices. Morbi ut dolor fringilla, mollis ante imperdiet, euismod sem. Sed faucibus auctor ligula vel accumsan. Integer ultrices feugiat faucibus. Suspendisse hendrerit urna vulputate, accumsan.</p>
      </div>
    </div>
  </div>
</section>
  <a class='hidden iprodev' href='http://iprodev.com' target='_blank'>iprodev.com</a>
        