<div class="modal-shiftfix">
    <div id="wrapper">
        <div id="content" class="">
            {{>static.header}}
            <div class="container background-malibu" id="main-container">
                {{>page.home}}
            </div>
        </div>
        <div id="footer">
            {{>static.footer}}
        </div>
    </div>
</div>
{{>static.scripts}}


<script type="text/javascript">
    //Fix for content height
    //$('#main-container').css("min-height", $('body').height() - 108);
</script>