<div class="dynamic-table-wrapper">
    <div class="row" ng-show="caption">
        <h4 ng-bind="caption"></h4>
    </div>
    <div class="row">
        <table-filter model="model"></table-filter>
    </div>
    <div class="row">
        <div class="table-reponsive unselectable">
            <table class="table-dynamic table dynamic-table">
                
                <thead>
                    <tr>
                        <th ng-show="model.remove"></th>
                        <th ng-repeat="c in columns | filter: model.columnFilter || { disabled: undefined }" ng-class="c.labelCls&&c.labelCls()||{}" ng-bind="c.label||c"></th>
                    </tr>
                </thead>
                <!--ng-click="!hasMouse && console.log(hasMouse)"-->
                <tbody>

                    <!--track by $index-->
                    <tr ng-repeat="(key,item) in model.items">

                        <!--
                        
                        -->

                        <td ng-show="model.remove" ng-click="model.remove(item,$index)" class="link">
                            <i class="fa fa-times"></i>
                        </td>

                        <td ng-click="click && click(item,$index)" ng-repeat="c in columns | filter: model.columnFilter || { disabled: undefined }" ng-class="{link:true,'text-left':c.align==='left','text-right':c.align==='right','text-center':c.align==='center'}">
                            <a ng-href="{[{model.itemHref(item)}]}">
                                <out ng-if="!c.format" ng-show="c.show==undefined||c.show(item)" html-content html="item[c.name||c]"></out>
                                <out ng-if="c.format" ng-show="c.show==undefined||c.show(item)" bind-html-scope="model" bind-html-compile="c.format(item[c.name||c],item)">
                                    
                                </out>
                            </a>
                        </td>

                    </tr>
                </tbody>
                <tfoot ng-if="model.tfoot" ng-include="model.tfoot">
                </tfoot>
            </table>

            <paging page="model.pagination.currentPage" page-size="model.pagination.itemsPerPage" total="model.pagination.total" show-prev-next="true" show-first-last="true" paging-action="model.pagination.changed()">
            </paging>

            <uib-pagination ng-show="model.paginate" total-items="model.pagination.total" items-per-page="model.pagination.itemsPerPage" ng-model="model.pagination.currentPage" ng-change="model.pagination.changed()" max-size="model.pagination.maxSize" class="pagination-sm"
                boundary-links="true"></uib-pagination>
        </div>
        <div ng-show="model.records && model.records.show" class="margin-bottom-one ">
            <ul class="form-tiny labelx2 center-block dynamic-table__records">
                <li>
                    <label ng-bind="model.records.label"></label>
                    <input disabled ng-value="model.pagination.total" class="max-w-60">
                </li>
        </div>

        <div ng-if="buttons" class="button-group dynamic-table__buttons">
            <a ng-repeat="(k,v) in buttons" ng-href="{[{v.href()}]}" ng-if="v.show==undefined || v.show==true || v.show()" ng-class="v.type({
            $index:$index,$first:$first
        })||''" ng-click="v.click()" ng-bind="v.label"></a>
            <out ng-if="model.buttonsTpl" ng-include="model.buttonsTpl" include-replace></out>
            <!--
            <i ng-show="model.hideTooltip == undefined || model.hideTooltip != true" class="fa fa-question" tooltip-placement="top" uib-tooltip="Double click on a row to edit"></i>
            -->
        </div>
    </div>
</div>
