.static-backdrop {}

.static-backdrop+.modal-backdrop.in {
    filter: alpha(opacity=10);
    opacity: 0.1;
}

.static-backdrop>.modal-dialog {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.static-backdrop>.modal-dialog>.modal-content {
    background: transparent;
    border: 0px;
    box-shadow: none;
    padding: 0px;
    margin: auto auto;
    height: 100%;
    position: relative;
}

.static-backdrop__content {
    background-color: white;
    text-align: center;
    width: 100%;
    display: block;
    margin: auto auto;
    position: fixed;
    bottom: 0px;
    color: black;
    font-weight: bold;
}