.post {
    margin-bottom: 100px;
}

.post__row {
    margin-bottom: 10px;
}

.post__title {
    height: 50px;
    margin: 0px;
}

.post__title>p,
.post__title>p>a {
    line-height: 50px;
}

.post__written-by {
    line-height: 50px;
    font-size: 20px;
}

.post__image{
    margin-bottom: 30px;
    margin-top: 30px;
}

.post__brief-content {
    font-size: 18px;
    padding-right: 20px;
    text-align: justify;
}

.post__full-content {
    font-size: 18px;
    padding-right: 20px;
    text-align: justify;
}

.post__tags {
    font-size: 20px;
    line-height: 50px;
    font-weight: 900;
    margin: 0px;
}
