<div class="row relative">
    <div class="title-bar">
        <div class="col-md-9">
            <h2 class="title-bar__title">Comparer les prix: Liste des produits</h2>
        </div>
        <div class="col-md-3 col-sm-offset-0">

        </div>
    </div>
    <img class="booking__static-ad" src='/img/sample/static_ad.png'>
</div>
<div class="row home section col-margin-0">
    <div class="col-sm-12">

        <div class="row col-margin-0">
            <div class="col-sm-12 col-md-4">
                <div class="panier__wrapper">
                    <div class="panier__nav-wrapper">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h3 class="panier__title">Monoprix</h3>
                    <p class="panier__address">20 rue de Faubourg 75010, Paris</p>
                    <div class="panier__separator"></div>
                    <ul class="panier__list">
                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                    </ul>
                    <div class="panier__separator"></div>
                    <div class="panier__prix-wrapper">
                        <h3 class="prix__more">€ 32.86</h3>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-4">
                <div class="panier__wrapper">
                    <div class="panier__nav-wrapper">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h3 class="panier__title">Monoprix</h3>
                    <p class="panier__address">20 rue de Faubourg 75010, Paris</p>
                    <div class="panier__separator"></div>
                    <ul class="panier__list">
                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                    </ul>
                    <div class="panier__separator"></div>
                    <div class="panier__prix-wrapper">
                        <h3 class="prix__less">€ 30.24</h3>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-4">
                <div class="panier__wrapper">
                    <a href="/html/prix_liste_details.html">
                    <div class="panier__placeholder">
                        <div class="">
                                        <span>Ajouter une liste de produits</span>
                                    </div>
                    </div>
                    </a>
                    <h3 class="panier__title">Example de liste</h3>
                    <p class="panier__address">20 rue de Faubourg 75010, Paris</p>
                    <div class="panier__separator"></div>
                    <ul class="panier__list">
                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                    </ul>
                    <div class="panier__separator"></div>
                </div>
            </div>
        </div>

        <div class="row col-margin-8">
            <div class="col-sm-12 col-md-4">
                <a href="/html/prix_main.html" ng-click="signInWithEmail()" class="btn btn-red btn-block btn-lg" ng-disabled="signin.$invalid">Retourner</a>
            </div>
        </div>

    </div>
</div>
