<div class="row relative">
    <div class="title-bar">
        <div class="col-md-9">
            <h2 class="title-bar__title">Comparer les prix: Par produit</h2>
        </div>
        <div class="col-md-3 col-sm-offset-0">

        </div>
    </div>
    <img class="booking__static-ad ad-top-right" src='/img/sample/static_ad.png'>
</div>
<div class="row home section col-margin-0">
    <div class="col-sm-12">

        <div class="row col-margin-0">
            <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2">
                <label>Entrer une adresse </label>
                <input name="addressInput" type="text" class="form-control address" value="15 rue L'Hopital Saint Louis" address scope="self" model="data" field="address" placeholder="Rechercher une adresse" change="search(query)">
                <div class="input-buttons">
                    <a class="link btn btn-red address__location" ng-click="setAddressFromGeolocation()"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                    <a class="link btn btn-red address__home" ng-click="setAddressFromProfile()">Mon adresse&nbsp;<i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="row col-margin-6">
            <div class="col-sm-12 col-md-4">
                <div class="panier__wrapper">

                    <h3 class="panier__title same-height">Sélectionner un magasin</h3>
                    <p class="panier__address"></p>
                    <div class="panier__separator"></div>
                    <ul class="panier__list selectable">
                        <li class="panier__item">
                            <div class="panier__magasin-icon-wrapper">
                                <i class="fa fa-shopping-basket panier__magasin-icon" aria-hidden="true"></i>
                            </div>
                            <div class="panier__magasin__description-wrapper">
                                <h5 class="panier__magasin__title">Simply Market</h5>
                                <p class="panier__magasin__description">64 Quai De Jemmapes</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__magasin-icon-wrapper">
                                <i class="fa fa-shopping-basket panier__magasin-icon" aria-hidden="true"></i>
                            </div>
                            <div class="panier__magasin__description-wrapper">
                                <h5 class="panier__magasin__title">Monoprix</h5>
                                <p class="panier__magasin__description"> 66 Avenue d’Ivry</p>
                            </div>
                        </li>



                    </ul>
                    <div class="panier__separator"></div>

                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="panier__wrapper">

                    <h3 class="panier__title same-height">Sélectionner un produit</h3>
                    <p class="panier__address"></p>
                    <div class="panier__separator"></div>
                    <ul class="panier__list selectable">
                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>

                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                            </div>
                        </li>
                    </ul>
                    <div class="panier__separator"></div>
                    <div class="panier__search-wrapper">
                        <div class="row">
                            <div class="col-xs-8">
                                <input type="text" placeholder="filtre">
                            </div>
                            <div class="col-xs-4">
                                <a class="btn btn-blue btn-xs"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="panier__wrapper">

                    <h3 class="panier__title same-height">Votre produit</h3>
                    <p class="panier__address"></p>
                    <div class="panier__separator"></div>
                    <ul class="panier__list">
                        <li class="panier__item">
                            <div class="panier__product-icon-wrapper">
                                <img class="panier__product-icon" src="/img/sample/product.jpg" alt="panier product">
                            </div>
                            <div class="panier__product__description-wrapper">
                                <h5 class="panier__product__title">Chips Spicy Lay’s</h5>
                                <p class="panier__product__description">le paquet de 130 g</p>
                                <p class="panier__product__price">1.49€</p>
                                <p class="panier__product__quantity">5 unités</p>
                            </div>
                        </li>


                    </ul>
                    <div class="panier__separator"></div>
                </div>
            </div>


        </div>

        <div class="row col-margin-8">
            <div class="col-sm-7 col-md-10">
                <a href="/html/prix_product_2.html" ng-click="signInWithEmail()" class="btn btn-red btn-block btn-lg" ng-disabled="signin.$invalid">Rechercher le meilleur prix</a>
            </div>
            <div class="col-sm-3 col-sm-offset-2 col-md-offset-0 col-md-2">
                <label id="booking__bottom-rigth-label">Étape 1/2</label>
            </div>
        </div>

    </div>
</div>
