<div class="row relative">
    <div class="title-bar">
        <div class="col-md-4 padding-none">
            <h2 class="title-bar__title">Livrer</h2>
        </div>
        <div class="col-md-4 col-sm-offset-4">
            
        </div>
    </div>
    <img class="booking__static-ad" src='/img/sample/static_ad.png'>
</div>
<div class="row section">
    
    <div class="col-main padding-none">
    
        <div class="row">
            <p class="text-center section__centered-title">Sélection du magasin</p>
        </div>

        <div class="row">
            <div class="col-md-12 padding-none">
                <label>Entrer une adresse</label>
                <input name="addressInput" type="text" class="form-control address" address scope="self" model="data" field="address" placeholder="Rechercher une adresse" change="search(query)">
                <div class="input-buttons">
                    <a class="link btn btn-red address__location" ng-click="setAddressFromGeolocation()"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                    <a class="link btn btn-red address__home" ng-click="setAddressFromProfile()">Mon adresse&nbsp;<i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-8 padding-none">

                <div class="row">
                    <div class="col-md-12 padding-none">
                        
                    </div>
                </div>

                <div class="row col-margin-5">
                    <div class="col-md-5 padding-none">

                        <label>Résultats</label>



                    </div>
                    <div class="col-md-7 padding-none">

                       

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 padding-none">
                        <div class="row" ng-show="shops && (shops.length == 0)">
                            <p class="text-center text-center-italic">
                                Aucun magasin n'a été trouvé à proximité.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="row results" ng-show="shops">


                    <div class="col-md-12 padding-none">
                        <ul>
                            <li>
                                <div ng-click="toggleShop(shop)">
                                    <div class="title">Monoprix</div>
                                    <div class="distance"><i class="icon-smc-rule"></i> 1.2 km</div>
                                    <div class="address"><i class="icon-smc-marker"></i> 15 rue L'Hopital Saint Louis 75010, Paris</div>
                                    <i class="icon ion-chevron-right"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 padding-none" ng-show="hasSelectedShops()">
                        <hr>
                        <hr>
                        <label>Vous avez sélectionné N magasins</label>
                    </div>
                </div>

            </div>
            <div class="col-md-4 padding-none">
                <hr>
                <img id="booking__hero" src="/img/hero_stand_pulgar.png">
            </div>

        </div>

        <div class="row col-margin-3 padding-none">
            <div class="col-sm-7 col-md-9 padding-none">
                <a 
                href="/html/availability2.html"
                class="link btn btn-md btn-red" ng-disabled="!hasSelectedShops()" ng-click="hasSelectedShops() && setSelectedShop()">Sélectionnez heur</a>
            </div>
            <div class="col-sm-3 col-sm-offset-2 col-md-offset-0 col-md-3 padding-none">
                <label id="booking__bottom-rigth-label">Étape 1/2</label>
            </div>
        </div>

    </div>
    
</div>
