<div class="row relative">
    <div class="title-bar">
        <div class="col-md-4">
            <h2 class="title-bar__title">Se faire Livrer</h2>
        </div>
    </div>
    <img class="booking__static-ad" src='/img/sample/static_ad.png'>
</div>
<div class="row section">
    <div class="col-sm-12">
        <div class="row col-margin-0">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12 relative">
                        <h2 class="booking__title-left">Bravo!</h2>
                        <p class="booking__subtitle-left">Votre proposition de livraison a été enregistrée. Vous serez notifié dès qu’une demande de livraison correspondra à vos critères.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img id="booking__hero" src="/img/hero_stand_pulgar.png">
            </div>
        </div>
        <div class="row col-margin-3">
            <div class="col-sm-7 col-md-10">
                <a href="/html/dashboard.html" class="link btn btn-md btn-red" ng-disabled="!hasSelectedShops()" ng-click="hasSelectedShops() && setSelectedShop()">Tableau de bord</a>
            </div>
            <div class="col-sm-3 col-sm-offset-2 col-md-offset-0 col-md-2">
            </div>
        </div>
    </div>
</div>
