<div class="" ng-controller="gab_dashboard">
    <div class="row">
        <div class="col-sm-12 padding-none">
            <ol class="breadcrumb">
                <li><a class="link" ng-click="route('/')">Dashboard</a></li>
                <li>Tracking</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 padding-none">
            <div class="panel type-1">
                <div class="row">
                    <h2><i class="fa fa-bicycle"></i>TRACKING</h2>
                    <p>
                        Keep an eye in your orders.
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-12 ">
                        <gab-tracking></gab-tracking>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="userHasRole('biker')">
        <div class="col-sm-12 padding-none">
            <div class="panel type-1">
                <div class="row">
                    <h2><i class="fa fa-bicycle"></i>ASSIGNED FOR</h2>
                    <p>
                        Accomplish your assigned assignment.
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-12 " ng-init="routeParams({showAssignedOny:true})">
                        <gab-assignment></gab-assignment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
