{{#> top}}



{{/top}}
<div class="row">
    <div class="col-lg-12">
    
        <h3 class="section-title">Wrapkend</h3>
        <div class="panel-rt1">
            <a class="panel-rt1" href="https://www.wrapkend.com" target="_blank">
                <h2 class="panel-rt1">wrapkend.com</h2>
            </a>

            <p class="justify work-description">
                Backendless Solution for freelancers and small to medium companies. It allows developers to code the backend logic for multiple projects in one place and faster.
            </p>
            <p class="justify work-description">
                It simplifies decisions when working on the backend and eliminates the rest API methodology in favor of an RPC approach, which works just like calling an asynchronous javascript function (Promise).
            </p>
            <p class="justify work-description">
                MisitioBA provides software engineering development for the entire development.
                <br>
                The technology stack currently in use involves Nuxt (VueJS) and NodeJS/MongoDB/Docker as main backend technologies.
            </p>
            <img class='img-responsive center-block' src="/img/wrapkend-page.png" width="600">


        </div>
    </div>

</div>
{{>bottom}}
