<!-- HBSIGNORE -->
<ion-modal-view id="finish-delivery-modal" ng-controller="DeliveriesFinishCtrl">
  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon button-clear icon ion-close-round" ng-click="closeFinishDeliveryModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header finish">
    <ion-slide-box show-pager="false" ng-init="disableSwipe()">
      <ion-slide>
        <span class="title">Fin de livraison</span>
        <div class="detail">
          Votre livraison a été effectuée avec succès ? Saississez dés maintenant le code fourni par votre acheteur pour clôturer la livraison et recevoir le montant associé.
        </div>
        <input type="text" placeholder="XXXXXX" ng-model="validation_code"/>
        <div class="instructions">Votre code livreur</div>
        <hr/>
        <span class="delivery"><i class="icon icon-smc-truck-checked"></i> {{delivery.buyer.firstname}} {{delivery.buyer.lastname}}</span>
        <div class="stars">
            <i ng-class="{'icon-smc-star-filled': ratingStar < 1, 'icon-smc-star-filled yellow': ratingStar >= 1}" ng-click="setRatingStar(1)"></i>
            <i ng-class="{'icon-smc-star-filled': ratingStar < 2, 'icon-smc-star-filled yellow': ratingStar >= 2}" ng-click="setRatingStar(2)"></i>
            <i ng-class="{'icon-smc-star-filled': ratingStar < 3, 'icon-smc-star-filled yellow': ratingStar >= 3}" ng-click="setRatingStar(3)"></i>
            <i ng-class="{'icon-smc-star-filled': ratingStar < 4, 'icon-smc-star-filled yellow': ratingStar >= 4}" ng-click="setRatingStar(4)"></i>
            <i ng-class="{'icon-smc-star-filled': ratingStar < 5, 'icon-smc-star-filled yellow': ratingStar >= 5}" ng-click="setRatingStar(5)"></i>
        </div>
        <div class="instructions">Notez la personne livrée</div>
        <button class="button button-positive button-block" ng-click="finalizeDelivery(delivery, validation_code)">Valider la livraison</button>
      </ion-slide>
      <ion-slide class="thanks">
        <div>
          <div class="title">Fin de livraison</div>
          <div class="mascot"><img src="/img/notifs/fin_de_livraison.jpg" alt="fin_de_livraison"></div>
          <div class="detail">Merci d'avoir livré des courses avec Shopmycourses !</div>
          <button class="button button-positive button-block" ng-click="goFinishDeliveryModal()">Ok</button>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-model-view>
