<div class="row ">
  <div class="title-bar">
    <h2 class="title-bar__title">Suis-nous</h2>
  </div>
</div>


<div class="">
    <div class="row col-margin-7">
        <div class="col-sm-12 col-md-12 home__left_content">
            
            <img class="center-block" src="/img/social.png">
            
            <h3>Rejoignez-nous dès à présent sur les réseaux sociaux afin de vous tenir informé des dernières actualités concernant Shopmycourses.</h3>
           


        </div>
    </div>
    <div class="row col-margin-8">
    </div>
</div>