<div class="">
    <div class="row">
        <div class="col-sm-12 col-md-12 home__left_content">
            <div class="buttons-block">
                <img id="mobile-mockup" src="/img/smc_phone.png" alt="livraison rapide avec chop my courses enfin shopmycourses">

                <hr>

                <p class="home__text-center">Application disponible sur</p>

                <a class="home__text-center center-block" href="https://play.google.com/store/apps/details?id=fr.shopmycourses.www&amp;hl=fr">
                    <img src="/img/icon_play_store.png" alt="télécharger chope my courses pour android">
                </a>

                <hr>

                <a class="home__text-center center-block" href="http://www.shopmycourses.fr/parrainage">
                    <img src="/img/icon_apple_store.png" alt="télécharger chop my courses pour ios">
                </a>
                
                <hr>
                
                <div class="buttons-block">
                <a href="/start" class="btn btn-red btn-block">C’est parti !</a>
                </div>

            </div>

        </div>

<!--
        <div class=" visible-md-block visible-lg-block col-md-4 padding-none">
            <div class="home__deliveryman-wrapper">
                <img class="home__deliveryman-wrapper__img img-responsive" src="/img/deliveryman_reposera.jpg">
            </div>
        </div>
        -->
    </div>
</div>