<!-- HBSIGNORE -->
<ion-view id="tabbar" title="TabBar">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Accueil" icon="ion-ios-home-outline" href="#/tabs/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Livraisons" icon="icon-smc-truck" href="#/tabs/deliveries">
            <ion-nav-view name="deliveries-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Commandes" icon="icon-smc-provision" href="#/tabs/orders">
            <ion-nav-view name="orders-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Paramètres" icon="ion-gear-a" href="#/tabs/profile">
            <ion-nav-view name="profile-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
