<div class="container" ng-controller="home-ctrl">
    <div class='row'>
        <div class="col-sm-12 margin-top-two">
            <div class="input-group search">
                <input
                
                data-address 
                model="search" 
                field="address"
                department="department"
                region="region"
                country="country" 
                post-code="postCode"
                
                type="text" class="form-control fnt-kaushan" name="q" placeholder="Tell me where are you">
                <span class="input-group-btn">
                    <button class="btn btn-primary unselectable">
                        <span class="glyphicon glyphicon-search unselectable"></span>
                </button>
                </span>
            </div>
        </div>
    </div>
</div>