<div class="container vf" ng-controller="vf-auth-ctrl">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li>Home</li>
                <li class="active">Registro</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="vf-col">
                <h1 class="vf-section margin-bottom-one">Creacion de cuenta de usuario</h1>
                <ul class="form-tiny vf">
                    <li>
                        <label>Email</label>
                        <input ng-model="email" placeholder="email" type="email">
                    </li>
                    <li>
                        <label>Password</label>
                        <input ng-model="password" placeholder="password" type="password">
                    </li>
                    <li>
                        <label></label>
                        <button class="float-right margin-top-one"
                        ng-disabled="!email || !password" 
                        ng-click="validate()">Validar</button>
                    </li>
                    <li>
                        {[{rta | json }]}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>