<!-- HBSIGNORE -->
<div class="row">
    <div class="title-bar">
        <h2 class="title-bar__title">C’est parti !</h2>
    </div>
</div>

<div class="row start">
    <div class="col-md-3 visible-md-block visible-lg-block relative">
        <img class="layout__icon-top-left" src="/img/icon_hand_in_sac_rotated.png" alt="Icon Commande Envoyee">
    </div>
    <div class="col-sm-12 col-md-6">
        
        
        <a ui-sref="root">
            <img src="/img/logo_circle_malibu.jpg" class="start__logo img-responsive">
        </a>
        
        <div class="buttons-block">
            <a ui-sref="signin" class="btn btn-red btn-block btn-lg ">Connexion</a>
            <a ui-sref="signup" class="btn btn-red btn-block btn-lg ">Inscription</a>
        </div>
        
        <img class="layout__icon-bottom-right visible-md-block visible-lg-block" src="/img/icon_hero_drinking.png" alt="Icon Hero Drinking Juice">
    </div>
    <div class="col-md-3 visible-md-block visible-lg-block relative">
    </div>
</div>
