<div class="row ">
  <div class="title-bar">
    <h2 class="title-bar__title">Le concept</h2>
  </div>
</div>


<div class="">
    <div class="row col-margin-7">
        <div class="col-sm-12 col-md-12 home__left_content">
            
            <iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/DMjI3y3eUw4" frameborder="0" allowfullscreen></iframe>
            
            <iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/Qur51Mn9jxo" frameborder="0" allowfullscreen></iframe>
            
            <iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/HqrKRborvYw" frameborder="0" allowfullscreen></iframe>



        </div>
    </div>
    <div class="row col-margin-8">
    </div>
</div>