<header>
    <div class="container padding-none">
        <nav class="navbar navbar-default margin-none">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ex1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                </div>
                <div class="collapse navbar-collapse" id="ex1">
                    <ul class="nav navbar-nav navbar-left logo">
                        <li>
                            <a href="{{root}}" class="link diag-button diag-btn-info">
                                <div class="logo abs bg">
                                    <img class="logo abs" src="{{root}}img/logo_98x75.png" />
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{root}}faq" class="link diag-link">Faq</a></li>
                        <li><a href="{{root}}contact" class="link diag-link">Contact</a></li>
                        <li><a href="{{root}}legal-mentions" class="link diag-link">Legal Mentions</a></li>
                        <li><a href="{{root}}dash" class="link diag-button diag-btn-info">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</header>
<div class="row">
    <div class="logo central bg center-block">
        <img class="logo central center-block" src="{{root}}img/logo_98x75.png" />
    </div>
</div>