<div class="container main">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel type-1">
                <div class="row">
                    <h1>Mentions légales</h1>
                    <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site www.getacoursier.com
                        les informations suivantes :</p>

                    <h3>1. Informations légales :</h3>
                    <p>
                        <br>Statut du propriétaire : Auto Entrepreneur
                        <br>Le Propriétaire est : Arancibia Javier
                        <br>Adresse postale du propriétaire : 15 Rue de L'Hopital Saint Louis, 75010 Paris – FRANCE
                        <br>Contactez le propriétaire: arancibiajav@gmail.com
                        <br>Le Créateur du site est : Arancibia Javier
                        <br>Le responsable de la publication est une personne physique
                        <br>Le Webmaster est : Maelle Aubert
                        <br>Contacter le Webmaster : arancibiajav@gmail.com
                        <br>L’hebergeur du site est : OVH SAS 2, rue Kellermann 59100 ROUBAIX
                    </p>

                    <h3>2. Conditions générales d’utilisation du site et des services proposés.</h3>
                    <p>
                        En utilisant notre site web www.theworldism.com, vous acceptez pleinement et entièrement les conditions générales d’utilisation précisées dans nos mentions légales. Accessible à tout type de visiteurs, il est important de préciser toutefois qu’une interruption
                        pour maintenance du site web peut-être décidée par Arancibia Javier.
                    </p>

                    <h3>3. Les produits ou services proposés par GAC</h3>
                    <p>
                        En accord avec sa politique de communication, le site www.getacoursier.com a pour vocation d’informer les utilisateurs sur les services proposés par Arancibia Javier, qui s’efforce alors de fournir des informations précises sur son activité. Cependant,
                        des inexactitudes ou des omissions peuvent exister : Arancibia Javier ne pourra en aucun cas être tenue pour responsable pour toute erreur présente sur le site www.getacoursier.com
                    </p>

                    <h3>4. Limitations contractuelles</h3>
                    <p>
                        Les informations retranscrites sur notre site web www.getacoursier.com font l’objet de démarches qualitatives, en vue de nous assurer de leur fiabilité.

                    </p>
                    <p>Cependant, nous ne pourrons encourir de responsabilités en cas d’inexactitudes techniques lors de nos explications.</p>

                    <p>Si vous constatez une erreur concernant des informations que nous auront pu omettre, n’hésitez pas à nous le signaler par mail à (contact section).</p>

                    <p>Les liens reliés directement ou indirectement à notre site web www.getacoursier.com ne sont pas sous le contrôle de notre société. En conséquence, nous ne pouvons nous assurer de l’exactitude des informations présentes sur ces autres
                        sites Internet.</p>

                    <h3>5. Propriété intellectuelle et contenu du site Internet</h3>
                    <p>
                        Le contenu rédactionnel du site web www.getacoursier.com appartient exclusivement à Alexandra Weytens. Toute violation des droits d’auteur est sanctionnée par l’article L.335-2 du Code de la Propriété Intellectuelle, avec une peine encourue de 2 ans d’emprisonnement
                        et de 150 000€ d’amende. En naviguant sur le site www.getacoursier.com, l’utilisateur accepte également l’installation de cookies éventuelle sur son ordinateur.
                    </p>

                    <h3>6. Droit applicable et lois concernées</h3>
                    <p>
                        Soumis au droit français, le site web www.getacoursier.com est encadré par la loi n° 2004-2005 du 21 juin 2004 pour la confiance dans l’économie numérique, l’article L.335-2 du Code de la Propriété Intellectuelle et la loi « informatique et libertés »
                        du 6 janvier 1978 modifiée en 2004.
                    </p>

                </div>


                <div class="row">
                    <a class="btn btn-primary btn-lg center-block" href="{{root}}">Accept</a>
                </div>
            </div>
        </div>
    </div>
</div>