<div class="row" ng-controller="create-client-account">
    <div class="col-xs-12">
        <form class="form-rt1">
            <h2 class="form-rt1">New Account</h2>
            <label class="form-rt1">Email</label>
            <input class="form-rt1" ng-model="email" placeholder="Email">
            <hr class="form-rt1">
            <label class="form-rt1">Password</label>
            <input class="form-rt1" ng-model="pwd" placeholder="Password" type="password" autocomplete="new-password">
            <p class="form-rt1">You have an account?<a class="form-rt1" href="/clients">Sign-in</a></p>
            <button ng-disable="isBusy()" class="form-rt1" ng-click="submit()">Create</button>
        </form>
    </div>
</div>
