html,
body {
    font-family: 'PT Sans', sans-serif;
}

.title-bar__title {
    font-family: 'PT Sans', sans-serif;
}

.form-control {
    font-family: 'PT Sans', sans-serif!important;
}

h4{
    color:white;
    font-size:20px;
}