.link:hover{
    cursor:pointer;
}

.margin-none{
    margin:0px!important;
}

.padding-none{
    padding:0px!important;
}
.padding-h-50{
    padding-left:50px!important;
    padding-right:0px!important;
}

.hidden{
    display: none;
}

.position-bottom{
    position: absolute;
    bottom: 0px;
}

.relative{
    position: relative;
}
.absolute{
    position:absolute;
}

.float-left{
    float:left;
}
.float-right{
    float:right;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align:left!important;
}

.padding-small{
    padding: 5px;
}

.link-white{
    color:white;
}
.link-white:hover{
    color:black;
    text-decoration: none;
}
.red{
    color:red;
}
.orange{
    color:orange;
}


.inline{
    display:inline!important;
}
.inline-block{
    display:inline-block!important;
}

.debug__quote{
    color:white;
    font-size:20px;
}

.margin-top-10{
    margin-top:10px!important;
}


.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /*
    width: ...;
    height: ...;*/
    
}
.wraptocenter * {
    vertical-align: middle;
}
.wraptocenter {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
