<div class="container-fluid" ng-cloak ng-show="!isBackoffice()">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="panel panel-alert">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-header">
                                <h2>Meetful esta llegando !</h2>
                                <p>
                                    No ves ningun evento o no puedes registrarte ? Todavia estamos arreglando unos detalles.
                                    <br>Si quieres participar no olvides <a href="/{{i18n 'ROUTE_SUBSCRIBE'}}">suscribirte</a> y te mantendremos informado.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="row">
        <div class="col-sm-4">
            <p class="muted footer__text">{{i18n 'TEXT_FOLLOW_US_IN'}} <a href="https://www.facebook.com/Meetful-1244827518927425/" target="_blank">Facebook</a></p>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <p class="muted pull-right footer__text">Languages:
                <span ng-repeat="lang in i18nConfig.languages"><a class="link" ng-click="appRouter.to('/'+lang+'/'+(appRouter.currentPath||i18n.ROUTE_DASHBOARD),{},0,true)" ng-cloak ng-bind="lang"></a>&nbsp;</span>
            </p>
        </div>
    </div>
</div>
