<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Meetful: Comparte tus comidas</title>
<meta name="description" content="Eventos de comida en barcelona, a toda hora, gratis, realizados por sus queridos habitantes.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="Meetful Barcelona: Comparte tus comidas">
<meta property="og:url" content="www.Meetful.com">
<meta property="og:description" content="Eventos de comida en barcelona, a toda hora, gratis, realizados por sus queridos habitantes.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.Meetful.com/images/background.jpg">
<meta property="og:image:width" content="1800">
<meta property="og:image:height" content="854">

<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">