<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60303213-4', 'auto');
  ga('send', 'pageview');

</script>

{{#each CDN}}
<script type="text/javascript" src="{{this}}"></script>
{{/each}} {{> auto-reload}} {{>css-update-button}}

<script type="text/javascript">
    window.__settings = {
        appName: '{{appName}}',
        isApp: '{{isApp}}' == 'true'
    };
    window.i18n = {};
    window.i18n_config = JSON.parse('{{{json i18n_config}}}');
    window.i18n__data = JSON.parse('{{{json i18n}}}');
    for (var x in window.i18n__data) {
        window.i18n[x] = window.i18n__data[x]['{{i18n_config.current}}'];
    }

    /*navbar collapse on click*/
    $('.nav a').on('click', function() {
        if ($(document).width() < 1200) {
            $('.navbar-toggle').click() //bootstrap 3.x by Richard
        }
    });
</script>



{{#each CDN_APP}}
<script type="text/javascript" src="{{this}}"></script>
{{/each}}

<script type="text/javascript" src="/vendor/vendor-angular-bw-paging-min.js"></script>
<script src="/vendor/vendor.angular.pretty-checkable.js"></script>
<script type="text/javascript" src="/vendor/ui-listview-directive.js"></script>

<!--BUNDLE_JS_1-->
<script type="text/javascript" src="/vendor/angular-google-autocomplete.js"></script>
<script type="text/javascript" src="/vendor/angular-cloudinary.js"></script>
<script type="text/javascript" src="/vendor/ng-file-upload.min.js"></script>
<!--/BUNDLE_JS_1-->



{{#printJS}}{{/printJS}}
<script type="text/javascript">
    /*global angular*/
    angular.element(function() {

        window.$('#main-view').html('');

        angular.bootstrap(document, ['app']);
    });
</script>



