<div class="row" ng-controller="login">
    <div class="col-xs-12">
        <form class="form-rt1" autocomplete="false">
            <h2 class="form-rt1">Login Form</h2>
            <label class="form-rt1">Email</label>
            <input class="form-rt1" ng-model="email" placeholder="Email">
            <hr class="form-rt1">
            <label class="form-rt1">Password</label>
            <input class="form-rt1" ng-model="pwd" placeholder="Password" type="password" autocomplete="new-password">
            <a class="form-rt1 link" ng-click="recoverPwd()">Recover password</a>
            <a class="form-rt1" href="/create-account">Create a new account</a>
            <button ng-disabled="isBusy()" class="form-rt1" ng-click="!isBusy() && submit()">Login</button>
        </form>
    </div>
</div>
