<p>Bonjour $LANDLORD_FULLNAME,</p>
<br>
<p>
Vous êtes le donneur d'ordre d'un diagnostic commandé par $CLIENT_COMPANY_NAME.
<br>
Merci d'effectuer le paiement en ligne pour confirmer le rendez-vous sur le lien suivant :
</p>
<br>
<a href="$ORDER_PUBLIC_URL" target="_blank">Payer le diagnostic</a>
<br>
<p>
<br>
Adresse du diagnostic : $ORDER_ADDRESS
<br>
Rendez-vous : $ORDER_DATE_HOUR
<br>
Remise des clefs : $ORDER_KEYS_INFO
<br> <out style="display:$OBS_DISPLAY;">Observations complémentaires :
</p>
<p>
    $ORDER_OBSERVATION
</p>
</out>
</p>
<br>
<br>
Bien cordialement,
<br>
L'équipe Diagnostical"
</p>

