<header class="static__header">
    <nav class="static__header__nav navbar navbar-default">
        <div class="container">
            <div class="static__header__nav__header navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsableNavbar">
                    <span class="icon-bar header__icon-bar"></span>
                    <span class="icon-bar header__icon-bar"></span>
                    <span class="icon-bar header__icon-bar"></span> 
                </button>

                <a class="static__header__nav__header__brand navbar-brand" href="#">
                    <img src="/img/logos/hero_cart_mini.jpg" alt="logo_small">
                </a>
            </div>

            <div class="collapse navbar-collapse header__navbar-collapse" id="collapsableNavbar">
                <ul class="static__header__nav__ul nav navbar-nav">
                    <li class="static__header__nav__ul__li">
                        <a class="static__header__nav__ul__li__a" href="/html/dashboard.html" ui-sref="tabs.home">Tableau de bord</a>
                    </li>
                    <li class="static__header__nav__ul__li">
                        <a class="static__header__nav__ul__li__a" href="/html/deliveries.html" ui-sref="tabs.deliveries">Livraisons</a>
                    </li>
                    <li class="static__header__nav__ul__li">
                        <a class="static__header__nav__ul__li__a" href="/html/orders.html" ui-sref="tabs.orders">Commandes</a>
                    </li>
                    <li class="static__header__nav__ul__li">
                        <a class="static__header__nav__ul__li__a" href="/html/prix_main.html" ui-sref="tabs.compareprix">Comparer les prix</a>
                    </li>
                    <li class="static__header__nav__ul__li">
                        <a class="static__header__nav__ul__li__a" href="/html/promo_search.html" ui-sref="tabs.promotions">Promotions</a>
                    </li>
                </ul>
                <ul class="static__header__nav__ul static__header__nav__ul-right nav navbar-nav navbar-right">
                    <li class="static__header__nav__ul__li">
                        <a href="/html/profile.html" class="static__header__nav__ul__li__a" ui-sref="tabs.profile">
                            <!--<span class="glyphicon glyphicon-log-in"></span> -->
                            Mes Paramètres</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

