<!DOCTYPE html>
<html>

<head>
    {{> head.common}}
    <!--
<link href="{{root}}styles/jr-crop.css" rel="stylesheet">
<link href="/bower/angular-motion/dist/angular-motion.min.css" rel="stylesheet">
-->
    <link href="{{root}}styles/angular-toastr.css" rel="stylesheet">
    <link href="{{root}}styles/bs-additions.css" rel="stylesheet">
    <link href="{{root}}styles/font-awesome.min.css" rel="stylesheet">
    {{#printCSS}}{{/printCSS}}
</head>

<body>
    
    


    <div class="modal-shiftfix {{bg}}">
        <div id="wrapper" class="app">
            <div id="content">
                
               
                
                {{#if logged}}
                    {{> html_header_logged}}
                {{else}}
                    {{> html_header_guest}}
                {{/if}}
                
                <div class="container background-malibu" id="main-container">
               