<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel type-1 padding-one">

                <div class="row margin-none">
                    <h1>CONFIGURATION</h1>
                </div>
                <div class="row margin-none">
                    <ul>
                        <li><a class="btn btn-lg link" ng-click="route(MODULE.CONFIGURATION)">New</a></li>
                    </ul>
                </div>
                <div class="row margin-none">
                    <ssg-table name="Configuration"></ssg-table>
                </div>
                <div class="row margin-none">
                    <a class="btn btn-lg link" ng-click="route(MODULE.DASHBOARD)">BACK TO DASHBOARD</a>
                </div>

            </div>
        </div>
    </div>
</div>