
	<div class="box-wrap">
		{{> rich.nav}}
		<!-- END: header -->
		<section id="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
						<div class="intro animate-box">
							<h1>Vaca Valiente H/EXP</h1>
							<h2>Product Design</h2>
						</div>
					</div>
				</div>
			<div>
		</section>

		<main id="main">
			<div class="container">
				<div class="col-md-8 col-md-offset-2 animate-box">
								</div>
				<!-- <div class="col-md-4"></div> -->
			</div>
			<div class="container">
			    <div class="row">
			        <div class="col-sm-12">
			            <img src="{{root}}img/vaca-valiente/vacav_1.jpg" class="img-responsive"/>
			        </div>
			    </div>
			</div>
		</main>
	</div>
	<!-- END: box-wrap -->
