{{#> top}}



{{/top}}
<div class="row">
    <style scoped>
        a,a:active,a:focus{
            color:navy;
        }
        a:hover{
            color:black;
        }
    </style>
    <div class="col-md-5 col-md-offset-7 col-lg-5 col-lg-offset-7">
        
        <h3 class="section-title">Hi there</h3>
        <div class="panel-rt1">
            <p class="section-p" style="
    max-width: 600px;
    text-align: justify;
    margin: 0 auto;
    line-height: 26px;
    word-spacing: 4px;
    font-weight: bold;
    padding: 20px;
">
                We are a group of people passionated about young and innovative projects. We provide freelance services and we love mentoring and advising.
                <br>
                In the past years, we have been interacting with projects inside Bond'innov, BarcelonaActiva and StationF. Three important incubators in France and Barcelona. 
            </p>
            
            

            <div class="row">
                <div class="col-sm-6">
                    <img class="block-220" src='https://res.cloudinary.com/paris7510/image/upload/z_2/w_400,h_400,c_crop,g_face,r_max/w_200/fl_png32/dn_162/v1502813491/misitioba/avatar/javier-arancibia.png' height="92" />
                    <div class="block-220">
                        <a href="https://www.linkedin.com/in/arancibiajav" target="_blank">Javier Leandro Arancibia</a>
                        <br>The Software Developer
                        

                        <br>&nbsp;
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="block-220" src='https://res.cloudinary.com/paris7510/image/upload/w_400,h_400,c_crop,g_face,r_max/w_200/fl_png32/dn_162/v1502813491//misitioba/avatar/maelle-aubert.png' height="92" />
                    <div class="block-220">
                        <a href="https://www.linkedin.com/in/ma%C3%ABlle-aubert-771aba109/" target="_blank"> Maelle Aubert</a>
                        <br>The Business Developer
                        
                        
                        <br>&nbsp;
                    </div>
                </div>
            </div>



           
        </div>
    </div>

</div>
{{>bottom}}
