<div class="container-fluid">
    <header>
        <nav class="navbar navbar-default" id="navbar" ng-controller="nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand link" href="/"><img class="nav__logo" src="/images/logo.jpg" /></a>
                </div>
                <div class="collapse navbar-collapse" id="nav">
                    <ul class="nav navbar-nav">

                       
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--
                        <li ng-class="{ active: isActive('{{i18n 'ROUTE_HOME'}}')}">
                            <a href="/{{i18n 'ROUTE_HOME'}}" class="link">{{i18n 'NAV_HOME'}}</a>
                        </li>
                        -->
                         <li ng-class="{ active: isActive('{{i18n 'ROUTE_EXPLORE'}}')}">
                            <a href="/{{i18n 'ROUTE_EXPLORE'}}" class="link">{{i18n 'NAV_EXPLORE'}}</a>
                        </li>
                        <li ng-class="{ active: isActive('about-us')}">
                            <a href="/{{i18n 'ROUTE_ABOUT_US'}}" static-href="/{{i18n 'ROUTE_ABOUT_US'}}" class="link">{{i18n 'NAV_ABOUT_US'}}</a>
                        </li>
                        <!--
                        <li ng-class="{ active: isActive('{{i18n 'ROUTE_CREATE_EVENT'}}')}">
                            <a href="/{{i18n 'ROUTE_CREATE_EVENT'}}" class="link">{{i18n 'NAV_CREATE_EVENT'}}</a>
                        </li>
                        -->
                        <li ng-cloak ng-show="false">
                            <a href="/global-gallery" class="link">Global gallery</a>
                        </li>
                        <li ng-class="{ active: isActive('{{i18n 'ROUTE_GET_IN_TOUCH'}}')}">
                            <a href="/{{i18n 'ROUTE_GET_IN_TOUCH'}}" class="link">{{i18n 'NAV_GET_IN_TOUCH'}}</a>
                        </li>
                        
                        <li ng-cloak data-active="{{i18n 'ROUTE_SIGN_IN'}}" ng-show="!isLogged()">
                            <a href="/{{i18n 'ROUTE_SIGN_IN'}}" class="btn btn-primary">{{i18n 'NAV_SIGN_IN'}}</a>
                            
                            
                        </li>
                        
                        
                        <li ng-class="{ active: isActive('{{i18n 'ROUTE_DASHBOARD'}}')}" ng-cloak ng-show="isLogged()">
                            <a href="/{{i18n 'ROUTE_DASHBOARD'}}">{{i18n 'NAV_DASHBOARD'}}</a>
                        </li>
                        <li ng-cloak ng-class="{ active: isActive('{{i18n 'ROUTE_PROFILE'}}')}" ng-show="isLogged()">
                            <a href="/{{i18n 'ROUTE_PROFILE'}}">{{i18n 'NAV_PROFILE'}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="panel panel-alert">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-header">
                            <h2>Meetful esta llegando !</h2>
                            <p>
                                No ves ningun evento o no puedes registrarte ? Todavia estamos arreglando unos detalles.
                                <br>Si quieres participar no olvides <a href="/{{i18n 'ROUTE_SUBSCRIBE'}}">suscribirte</a> y te mantendremos informado.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
